[2015-03-16 23:47] whatyouhide opened #2 "Handwritten parser vs. yecc-generated parser"
@josevalim and I have been discussing whether to use a handwritten parser or a yecc-generated parser for `.po` files. Initially, I was in favour of using yecc in order to have a very declarative and easy-to-understand grammar. After implementing a first version of the parser using yecc, I gave implementing a handwritten parser a try and it was practically just as easy.

Since I couldn't decide whi

[2015-03-17 09:29] josevalim commented on #2
Good work, to me the yecc-based is much cleaner!

A couple notes on the .yrl one:

1. The parser should stay in the .src directory indeed with the generated .erl being .gitignored
2. You can match on the error information [here](https://github.com/whatyouhide/gettext/commit/9c1c9777dd901c7a3a528797f20bb3e33f9812d7#diff-88c5e5f84166dd6ef854c00055b43b62R15) to generate proper syntax errors (with lin

[2015-03-17 12:33] ericmj commented on #2
I agree that yecc is cleaner but one of the advantages of the elixir version is that anyone can understand and contribute to it because you don't have to learn yet another parser language.

[2015-03-17 12:55] whatyouhide commented on #2
@ericmj that was the main reason I wrote the Elixir version too. It's also true that yecc has a very simple grammar and is very easy to understand (you have to know a little bit about CF grammars maybe, but it's nothing complicated).

I think the yecc version is cleaner but also "safer" in the sense that it's less prone to cause subtle bugs since the grammar definition is very concise and straight

[2015-03-17 12:58] josevalim commented on #2
@ericmj plus the grammar will be simpler to the point it will be easier to contribute to a grammar syntax you don't know than a complex hand-written grammar in Elixir. :)

[2015-03-19 00:24] whatyouhide commented on #2
I'm closing this since I merged #3, introducing a `.po` parser generated using `yecc`. This resulted in a **very** straightforward grammar and I also managed to move some tedious logic directly to the yecc parser (e.g., concatenation of a series of string tokens), so yay!

[2015-03-19 00:24] #2 closed

[2015-04-14 06:14] josevalim opened #9 "Interpolation"
Although gettext does not support interpolation, we could support it out of the box. The reasoning is that interpolation is common and supporting it out of the box is going to allow us to do some optimizations similar to the ones Chris did in [linguist](https://github.com/chrismccord/linguist).

The idea is that `lgettext` and `lngettext` will receive an extra argument with interpolation: a map or

[2015-04-14 10:44] whatyouhide commented on #9
Ok, I think I got it. I'll start working on this :)

[2015-04-15 16:26] whatyouhide commented on #9
Hey there @josevalim, quick question (I'm posting here so that others can benefit from the answer as well :smiley:).

I implemented `lgettext

[2015-04-15 18:05] josevalim commented on #9
I would go with `lngettext(_, _, "One error", "%{count} errors", 4, %{})` which will automatically set `count: 4`.

[2015-04-17 13:13] #9 closed

[2015-04-17 20:09] josevalim opened #11 "Gettext public API"
For now all the work has been done on Gettext internals and it is time to discuss the public API. What I would like to call is this:

    MyApp.Gettext.gettext "hello world"

And this does a couple things:

1. It is a macro because we want to collect those strings to automatically generate `.po` files. In order to be collected, the first argument needs to be a string at compilation time.

2. The l

[2015-04-18 13:33] whatyouhide commented on #11
I have no preference here. The first solution (warning to check strings in the `.po` files) may be a nice compromise. I'm not sure what advantages the third approach would bring us though :expressionless:.

As for the locale customization, gettext seems to still require some kind of manual setting of the locale, e.g., calling a `setlocale` function (which I guess is what we're going to do by provi

[2015-04-18 13:49] josevalim commented on #11
`setlocale/1` doesn't really fit Elixir conventions though, so we need to choose between following gettext API or "converting" it to Elixir land. Thoughts?

[2015-04-18 13:53] josevalim commented on #11
All the cons in the first approach does not exist in the third approach.

The first approach has the benefit of not introducing a new API. But that is its downside too, people will use `gettext some_variable` without knowing it is not really recommended and find out just when generating the template files (if they do it). Also, if people are abusing the pattern a lot, they may get *tons* of warnin

[2015-04-18 15:12] whatyouhide commented on #11
This makes a pretty good point. If we're not going with the first approach, then the third approach would probably produce the cleaner code. We could heavily refactor the `Gettext` module and move most of the logic that it now contains to something like `Gettext.Compiler` (responsible for compiling `.po` files to function calls, and nothing else). At that point, `Gettext` will only be concerned ab

[2015-04-18 15:21] josevalim commented on #11
This is a welcome refactoring anyway. :)

[2015-04-18 16:07] ericmj commented on #11
This will be annoying because you would get the warning on every compilation even though it's perfectly valid code.

I like the third approach best. Will users define their own `MyApp.Gettext` module, sort of like `Ecto.Repo`? If so they can always fall back to approach 2 from approach 3: `def my_gettext(string), do: Gettext.gettext(__MODULE__, string)`.

I had the same problem when creating Decim

[2015-04-18 19:31] whatyouhide commented on #11
Yep.

We're most likely going to do that in gettext as well, as José mentioned in [the first proposal](https://gist.github.com/josevalim/dd0b1bca074b56057815). That said, I don't like `setlocale/1` either, so any suggestion is very appreciated!

@josevalim I'm going to refactor that part tomorrow if I can, I had that in mind for a while now :).

So, any thoughts on how to set the locale? I think o

[2015-04-18 19:35] josevalim commented on #11
Go ahead!

I can think of two options (read and write):

* `Gettext.get_locale/0` and `Gettext.put_locale/1`
* `Gettext.locale/0` and `Gettext.locale/1`

Both are used in Elixir and I prefer the second (we use it for example in `Logger.metadata/0/1`). We also need to discuss if it will be per backend (i.e. `MyApp.Gettext.locale/0`) or for the whole application (i.e. `Gettext.locale/0`). I don't se

[2015-04-18 19:39] chrismccord commented on #11
The third option is what I would lean towards.

This is also what I was thinking.

Are we also going to provide a `gettext` variant that accepts the locale as the first argument?

[2015-04-18 19:58] whatyouhide commented on #11
I'm actually in favor of `get_locale` and `put_locale` because I like how they are *very* explicit in telling what they do.

We can provide a variant of `gettext` that accepts the locale, it may be useful.

[2015-04-18 19:59] whatyouhide commented on #11
As for making the locale per-backend, I have no preferences here but making it per-backend may turn out to be more versatile. Wdyt?

[2015-04-18 20:44] josevalim commented on #11
One downside of making it per backend is that you would need to do in a Phoenix app something like:

[code]

And I can't think of cases you would explicitly want one over the other.

[2015-04-19 18:37] whatyouhide commented on #11
So we're going with only one locale per process, providing `Gettext.put_locale/1` and `Gettext.get_locale/0` or `Gettext.locale/0-1`?

[2015-04-20 08:16] josevalim commented on #11
Let's go with `Gettext.locale/0-1`. Also, can you ping me on IRC when you have some time?

[2015-04-20 09:05] josevalim commented on #11
Based on our IRC talk, let's add:

* `Gettext.locale()`
* `Gettext.locale(locale) when is_binary(locale)`
* `Gettext.d?n?gettext(backend, string)`
* `Gettext.d?n?gettext(locale, backend, string)`
* `Gettext.d?n?gettext(backend, string, data)`
* `Gettext.d?n?gettext(locale, backend, string, data)`

[2015-04-20 19:35] whatyouhide commented on #11
Hey @josevalim, if we're going to provide `Gettext.locale/0-1` in order to set the locale process-wise (for the whole application), we can't do this:

right? Should we move that to the configuration of the `:gettext` application?

[2015-04-20 20:03] josevalim commented on #11
Yes. Good catch. The first time we read the locale, if one is not set in the pdict, we read from the application and store it.

[2015-04-30 15:25] whatyouhide commented on #11
Closing this for now as the public API is kind of ready. :)

[2015-04-30 15:25] #11 closed

[2015-04-30 21:28] whatyouhide opened #14 "Gettext.PO.Entry"
As of today, the output we get from parsing a `.po` file is a list of translations (both plural and singular, `[Gettext.PO.Translation | Gettext.PO.PluralTranslation]`. This is fine since we only need to support a handful of features in `.po` files. More importantly, those features draw a clear line between singular and plural translations, since the only thing they share is a `msgid` (and even th

[2015-05-01 22:50] whatyouhide commented on #14
While I thought contexts (`msgctxt`) were a pretty useful feature in gettext, @josevalim told me on IRC that they're not seen as a very good thing because they can easily cause confusion.

This may make the `Gettext.PO.Entry` less useful since now it would only wrap a `Translation`/`PluralTranslation` and add information on comments. We could just create a `%Gettext.PO.Comments{}` struct which we

[2015-05-02 19:04] josevalim commented on #14
Also, we can do map polymorphism. I.e., even if we have both Translation and PluralTranslation, functions that work with comments will work as long as both store them in the :comment key. :)

[2015-05-02 19:05] josevalim commented on #14
Oops, closed accidentally. But anyway, I don't think we need this. At least not for now!

[2015-05-02 19:06] whatyouhide commented on #14
@josevalim you were right closing this; as I said myself above, without contexts a `:comment` field is enough and indeed, map polymorphism makes it even cleaner. Thanks for the feedback!

[2015-05-02 19:07] #14 closed

[2015-05-04 21:27] whatyouhide opened #16 "Comments tokenizing + parsing"
Comments in Gettext are not like comments everywhere else, since you usually don't just ignore them.

Comments start with an hash (`#`) character and go on until EOL. There are two main kinds of comments:

- translator comments (denoted by `#` followed by some whitespace, most commonly `#[space]`)
- autogenerated comments (`#` followed by some specifier character)

We will need to parse, tokenize

[2015-05-04 22:06] whatyouhide opened #17 "Generating and merging PO(T) files"
Opening this issue to lay down what @josevalim and I discussed yesterday. So, the next part in the development of Gettext for Elixir will be focused on compile-time niceties. These include automatic generation of POT and PO files as well as merging of such files.

First of all, just as a reference, POT files are just like PO files but with empty translations. Example of snippet of POT file:

[code

[2015-05-05 06:22] josevalim commented on #16
This sounds great. Do we need to use flag? I think we can safely skip it... otherwise it is just noise in the .po files.

[2015-05-05 06:33] josevalim commented on #17
That sounds great. It is worth mentioning that merging pot and po files are very similar except that:

1. If a translation has no reference in .pot files, we won't remove them

2. If a translation has no reference in .po files, we still remove them, because we assume .pot files is the canonical source

Besides that, the process should be exactly the same.

[2015-05-05 07:22] whatyouhide commented on #16
I'll see how po editors behave when there's no flag comment. We could actually also use it to easily detect translations we generated instead of having to read the reference comment and search for `.ex` files.

[2015-05-09 14:02] whatyouhide commented on #16
#18 implements support for both tokenizing and parsing comments. As of now, the process is very "rude": we just determine the type of the comment (only reference and translator comments are supported for now) and we tag its contents with it. For example, a reference comment like:

[code]

becomes `{:reference, " lib/foo.ex lib/bar.ex"}`. This is fine for translator comments (since we don't care ab

[2015-05-09 15:52] josevalim commented on #16
Btw, what gettext advises? To have a single reference line? Or to have one line per reference, as in:

    #: lib/foo.ex
    #: lib/bar.ex

I am asking because paths could have new lines in them, if that is the case, how they are handled?

Regarding where this logic may be implemented, any approach is fine. Maybe it is easier if the yecc just retrieves the commands "#..." and you extract the infor

[2015-05-09 16:38] whatyouhide commented on #16
Ok, so, most of the material I'm reading about gettext says that when you have the same string from multiple locations, you just merge all of them into a single translation and list all the sources in a single reference comment:

[code]

I couldn't find anything on multiple reference comments, but I guess you can also do what @josevalim suggested:

[code]

This *has* to be supported in one way or

[2015-05-09 16:49] josevalim commented on #16
Yeah, one per line sounds much cleaner.

What about line numbers? We don't store the line with the reference? Wouldn't that be useful?

We could create one token per line but extracting the semantic behaviour of the comment could be done in Elixir. If we go with my suggestion in the pull request, it could even be a completely separate stage, i.e. the parser extracts the comments but another step w

[2015-05-09 17:00] whatyouhide commented on #16
I keep forgetting about the line to store with the reference :) Consider all the code snippets I wrote as if they had a line as well:

[code]

We could store each reference on a separate line, and store references pointing to the same file (but different lines) in different lines:

[code]

It's unlikely to have the same literal string many times in the same file, I guess people would tend to use a

[2015-05-09 17:11] josevalim commented on #16
@whatyouhide you can't use it as a module attribute because the translation needs to happen at runtime. :) I would go with one reference per line so we don't need to worry about escaping and similar things for now. It is the simplest approach I think.

[2015-05-09 17:28] whatyouhide commented on #16
We use `Macro.expand` so we should be covered in that sense, right?

[2015-05-09 17:37] josevalim commented on #16
@whatyouhide I probably misunderstood you, sorry. What I mean is:

This is ok:

    @translation "hello"
    gettext @translation

This is bad:

    @translation gettext "hello"

:)

[2015-05-09 21:35] whatyouhide commented on #16
Ah, right, that wouldn't work. Anyways, let's go with one reference per line for now and we'll see how it goes :)

[2015-05-10 08:48] whatyouhide commented on #16
For reference, 2722c456b600df1b406603540fe1155c4e9fae25 implements what me and @josevalim have been discussing here and in #18, namely the single comment token type (`{:comment, line, contents}`) and the new `:references` field type for translations.

[2015-05-10 15:27] whatyouhide commented on #16
I'm going to close this for now as comment support has been merged in `master`, we'll reopen it if we need further discussion.

[2015-05-10 15:27] #16 closed

[2015-05-22 12:18] whatyouhide opened #22 "Duplicate msgids"
Opening this issue so that we don't forget this problem and we can discuss it here. Quoting what @josevalim wrote in #21:

The proposed solution looks good to me, I'll give implementing it a try and we'll see how it works out :).

[2015-05-25 23:23] whatyouhide commented on #22
I started and pretty much finished this (here https://github.com/elixir-lang/gettext/blob/duplicate-translations/lib/gettext/po/parser.ex#L66-L95) and it works pretty smoothly. I think there's one inconsistency though: when there are duplicate translations, a `Gettext.PO.SyntaxError` is raised in `Gettext.PO.parse_string!/1` and `Gettext.PO.parse_file!/1`. This happens because the parser returns a

[2015-05-26 08:07] josevalim commented on #22
I think SyntaxError is fine for now. We can discuss if it is an issue in the future.

Btw, there is an easier/faster way to implement the duplicates check. You can call Enum.reduce using a HashDict as accumulator. For every entry, you check if there was something in the HashDict already. The downside is that we are not going to accumulate all translations (which I think is fine) but on the upside

[2015-05-26 09:19] whatyouhide commented on #22
Mmm, but I still need to jump out of `Enum.reduce` early if I find a duplicate, right?

If I had something like this

[code]

I could still keep track of *all* the duplicate translations, but to find them I would have to build the entire `HashDict` and then find duplicates in it, right? I'm sorry I'm having a little trouble getting you on this one :).

[2015-05-26 09:24] josevalim commented on #22
The code you wrote is literally group_by implementation. What I mean is that you would use Enum.reduce with a HashDict as soon as you find a duplicate, you would raise. The upside is that we avoid traversing the structures multiple times. The downside is that we raise only on the first duplicate (which is fine imo).

[2015-05-26 09:38] whatyouhide commented on #22
@josevalim indeed that's `group_by`, you're right :disappointed_relieved:

Ok, if you want to raise at this level I get what you're saying. I was trying to avoid raising in the parser since the parser always returns `{:error, line, reason}` when there's an error and it's `Gettext.PO.parse_string!/1` or `Gettext.PO.parse_file!/1` that do the raising; if we go with your suggestion, we'll have to res

[2015-05-26 10:31] whatyouhide commented on #22
@josevalim what about this:

[code]

where `translation_id/1` just extracts `id` for `%Translation{}`s and `{id, id_plural}` for `%PluralTranslations{}`.

This way we still stop at the first duplicate translation we find, but we return `{:error, line, reason}` instead of raising (while still traversing the structure only once).

Btw, raising as you suggested could solve us the problem of raising a

[2015-05-26 11:35] josevalim commented on #22
Ah, yes, I am sorry. If you want to exit early from a reduce, in this case, it is fine to use throw/catch.

[2015-05-26 17:13] whatyouhide commented on #22
Close by #25!

[2015-05-26 17:13] #22 closed

[2015-05-30 20:02] whatyouhide opened #26 "Collecting translations from the *gettext family of macros"
I think this is almost the last step before a first usable version of Gettext, so I'm excited to discuss this topic :D

So, we need to generate POT files from calls to the `*gettext` family of macros. We already have these macros working, so the work we have to do in the macros themselves is probably just a matter of adding a couple lines to each macro:

[code]

@josevalim, @ericmj, and I discusse

[2015-05-30 20:04] whatyouhide commented on #17
I'm closing this: the only thing left to implement from this issue is the generation of the PO(T) files and I opened #26 to give space to a more focused discussion on that.

[2015-05-30 20:04] #17 closed

[2015-05-31 08:59] josevalim commented on #26
Yes, we can do it by parts. The first one is definitely being able to collect such calls. After that, we need a function that will save merge those into pot fies in the configured directory. Just then we can start discussing how to integrate into user apps.

I can see benefits to both approaches, honestly. If I am working mostly in english, then I can generate it only from time to time. But if I a

[2015-05-31 10:17] whatyouhide commented on #26
@josevalim using a custom `:gettext` compiler is a wonderful idea. Just a couple of questions:

* do you think using a dedicated Mix environment (`gettext` I would suggest) is a good idea for detecting whether to collect translations in the `*gettext` macros? I thought of a mix env just for simplicity but I'm not sure it would be a good idea if the `gettext` compiler is called while compiling the

[2015-05-31 13:06] josevalim commented on #26
I don't think we need a special Gettext environment.

I am not sure how it would look like yet. I think it could call `mix compile --force`. it will work if called directly but will be a no-op in case we call it as part of the compiler and then everything should work. But before we try it, it is hard to know.

[2015-09-08 10:52] whatyouhide commented on #26
Closing this one as #27 implements `mix gettext.extract`.

[2015-09-08 10:56] josevalim opened #28 "Add Gettext.with_locale"

[2015-09-08 11:12] josevalim opened #29 "Ensure all processes are in supervision trees"

[2015-09-08 11:17] josevalim commented on #26
Let's leave it open so I don't forget of compile.gettext. :D

[2015-09-08 11:28] whatyouhide commented on #26
@josevalim fair enough :)

[2015-09-08 11:48] josevalim opened #31 "Translations from files are not removed by the extractor"

[2015-09-08 12:10] #28 closed

[2015-09-08 12:44] josevalim opened #32 "Compiler chokes on empty .po files"

[2015-09-08 12:44] josevalim commented on #32
[code]

[2015-09-08 13:01] #26 closed

[2015-09-08 13:01] #29 closed

[2015-09-08 14:30] whatyouhide commented on #32
I'll have a look at this!

[2015-09-08 15:33] #32 closed

[2015-09-09 20:12] whatyouhide commented on #31
Fixed in #34 :tada:

[2015-09-09 20:12] #31 closed

[2015-09-09 22:20] whatyouhide opened #36 "Merging translations isn't an idempotent operation"
If a translation has translator comments, then merging it with itself will concat the comments. Minimal case:

[code]

[2015-09-11 12:35] josevalim commented on #36
This will be fixed in the PR. :D

[2015-09-11 12:35] #36 closed

[2015-09-11 12:38] josevalim opened #38 "Add mix gettext.extract --merge"
The idea is that:

  1. The extractor layer will be able to track if a given .pot file effectively change or not

  2. If any `.pot` file changed for a given directory, for example "priv/gettext", we will call `Mix.Tasks.Gettext.Merge.run ["priv/gettext"]` once all .pot files for that directory are written

This way we can perform merge efficiently too.

[2015-09-11 15:59] josevalim opened #40 "Fuzzy matching on merge"
We can do this after 0.1.0 is out and use the new jaro_distance from Elixir.

[2015-09-11 23:42] #38 closed

[2015-09-20 16:08] josevalim opened #43 "gettext.merge/extract can use Task.async/await"
As long as they are writing to different files, we are good to go.

[2015-09-22 11:19] #43 closed

[2015-09-24 07:12] whatyouhide commented on #40
Closed by #42!

[2015-09-24 07:12] #40 closed

[2015-10-15 20:12] tmjoen opened #46 "Cannot read multiple #: references on one line"
When I use Poedit it saves the .po file like this:

[code]

with multiple source code references on same line (there is a wrap-at preference setting in poedit).

This makes gettext choke:

[code]

[2015-10-15 20:39] whatyouhide commented on #46
@tmjoen whoops, gonna fix that as soon as possible and release 0.6.2. :)

[2015-10-19 10:32] lexmag opened #48 "Consider having default locale set is a must,"
otherwise we need a more informative error message for a following case:
[code]
As you see without `:default_locale` env var it fails to reset locale back.

[2015-10-19 10:37] josevalim commented on #48
Yes, `Gettext.locale` always need to return something. It may just default to "en".

[2015-10-19 10:38] josevalim commented on #48
I am also wondering if the locale configuration should really be in `Gettext.locale` or if it should be per backend.

[2015-10-19 10:44] lexmag commented on #48
It feels more intuitive to have it per backend, and more flexible.

[2015-10-20 23:03] #46 closed

[2015-10-20 23:11] whatyouhide commented on #48
I'm :+1: on making the locale per-backend. We can store it under `MyApp.Gettext` in the process dict and increment the arity of `locale/0-1` to `locale(backend)` and `locale(backend, locale)`. I'm not sure how we could configure it. We could use the Mix config for each backend:

[code]

and also default to `"en"` if there's no config (which is the subject of the issue).

What do you think?

[2015-10-20 23:14] josevalim commented on #48
:+1: for everything. Will we also have `MyApp.Gettext.locale/0/1`?

[2015-10-20 23:15] lexmag commented on #48
That's sounds wonderful.

[2015-10-20 23:17] whatyouhide commented on #48
@josevalim I wouldn't provide both `Gettext.locale/1-2` and `MyApp.Gettext.locale/0-1` because they would do the exact same thing (but we would still have to test/document all of them). Also, we'd need to introduce `MyApp.Gettext.with_locale/2` as well. Wdyt?

[2015-10-20 23:35] lexmag commented on #48
I do see the need for `MyApp.Gettext.with_locale/2`, not sure if we need `MyApp.Gettext.locale/0-1` though.

[2015-10-20 23:40] josevalim commented on #48
Ok, we don't need to add any of them. `Gettext.get_locale(backend)` & `Gettext.put_locale(backend, ...)` would be my votes. I think it would be nice to change the name so it is clearer now with multiple args and so we effectively break the users code, otherwise it can accidentally pass.

[2015-10-20 23:40] whatyouhide commented on #48
Awesome, I'll come up with a PR soon.

[2015-10-20 23:42] lexmag commented on #48
Ah, `get_` and `put_` verbs – that's nice.

[2015-10-20 23:43] whatyouhide commented on #48
I was :+1: for `get_` and `put_` from the beginning so I'm happy about this change :)

[2015-10-21 10:02] #48 closed

[2015-11-20 19:57] chrismccord opened #55 "gettext.extract --merge does not preserve default msgstr's"
I may be missing something, but when running `mix gettext.extract --merge` for the first time, I find all the message strings are blank. This results in all templates returning blank strings until I go fill in the translations. It seems like a better approach would be to have the msgid copied over to the msgstr. Thoughts?

Example of generated .po

[code]

Example of what I'd like to be generated:

[2015-11-20 20:38] josevalim commented on #55
The question is: do we want to automatically copy it for all idioms? Or just for english? And which one is a better default even for other languages, showing no text or showing the text in english?

It feels copying msgstr for the merge is indeed the best way to go.

[2015-11-20 20:40] chrismccord commented on #55
I was thinking only for English, otherwise you'll have stray english fragments to track down when you make changes

[2015-11-20 20:47] josevalim commented on #55
@chrismccord right. assuming you don't track those down, the website will show no text, which I think is worse even for non-english languages?

[2015-11-21 12:08] whatyouhide commented on #55
The idea would be to turn a `.pot` (with blank strings) into a `.po` only when you're ready to translate all of the strings in the language of the new `.po`. Do you think people would use `""` as a translation on purpose for some reason? If not, we could just make gettext see `""` as untranslated strings, so that when it encounters one, it just returns the `msgid`. (I think I already proposed this

[2015-11-21 13:17] endersstocker commented on #55
I like what @whatyouhide is proposing. It prevents the case of showing no text where no translation is yet provided, making it easy for a programmer to internationalize up front and defer localization. It also yields a translation file that a translator can more easily and intuitively complete (i.e., they don’t have to delete text or hunt for where they left off). It also facilitates piecemeal tra

[2015-11-21 13:26] endersstocker commented on #55
While I doubt that intentional blank translations would be commonplace, we could allow `mgstr :blank`.

[2015-11-21 13:51] endersstocker commented on #55
Also, the tools for working with `.po` files expect that a blank `msgstr` is awaiting translation (not one whose text matches its `msgid`). The portable object format and its generation is pretty clearly defined. Parsing those files is not. That’s where we can define new behaviour, such as translating `msgstr ""` as its `msgid`.

[2015-11-21 13:56] whatyouhide commented on #55
@endersstocker the parsing may not be clearly defined, but I wouldn't do things like `msgstr :empty` or turning `msgstr ""` into `msgstr MSGID_HERE` in the parser (a lot of tools support reading/writing PO files and I want to mess them up as little as possible).

What I mean was doing this at a higher level, in the `l(n)gettext` functions: when we try to find a translation for `"foo"` in locale `"

[2015-11-21 14:01] endersstocker commented on #55
@whatyouhide I’m with you. I meant parsing in a broader sense.

[2015-11-21 14:47] josevalim commented on #55
@whatyouhide just so I understand, do tools like poedit use things like `msgstr ""` to identify what needs to be translated? Couldn't use a comment for that (like we do with `# fuzzy`?

At first, replacing `""` makes me feel a bit uncomfortable. But if we don't have another option, then we don't have another option. :)

[2015-11-21 15:22] whatyouhide commented on #55
@josevalim I'm not sure but when you take a `.pot` file and create a new `.po` file from that file using poedit, msgstrs are empty (`""`), so I guess this is the correct behaviour? I can't find a "filter" option in poedit to show what needs to be translated but when you make poedit check for problems with translations, it reports this:

<img width="407" alt="screen shot 2015-11-21 at 16 20 45" src

[2015-11-21 15:24] josevalim commented on #55
@whatyouhide so we should do it on our gettext side, you are right. If we have an empty string, we should show msgid.

[2015-11-21 15:28] whatyouhide commented on #55
@josevalim yep. Should we warn somewhere for this kind of things? Something akin to `".po file for locale pt_BR exists but this translation is empty"`?

[2015-11-21 15:29] josevalim commented on #55
If we are going to warn, then we need a way to copy the msgid to msgstr, at least for english based locales. Otherwise, I would go with no warning.

[2015-11-23 10:45] #55 closed

[2015-11-23 10:46] whatyouhide commented on #55
Ok, #56 got merged so now the behaviour for translations with empty `msgstr` is to just default to the `msgsid`. (for plural translation, "empty msgstr" means one or more empty msgstrs)

[2015-11-23 12:40] chrismccord commented on #55
:heart_eyes_cat:

[2015-11-24 11:22] whatyouhide opened #57 "*gettext macros fail with string sigils"
[code]

fails with `** (ArgumentError) msgid must be a string literal`.

[2015-11-24 11:33] josevalim commented on #57
Weird, I thought we macro expanded them?

[2015-11-24 11:36] whatyouhide commented on #57
We do, I'm not sure why this happens. I'll investigate!

[2015-11-24 11:41] whatyouhide commented on #57
@josevalim ok it's because

[code]

I can manually check for the `{:<<>>, _, [binary]}` pattern.

[2015-11-24 11:47] josevalim commented on #57
Yes, we need to check for `:<<>>` as long as all entries are binaries. I will update sigil_s to return a binary if such is guaranteed.

[2015-11-24 12:07] whatyouhide opened #58 "mix gettext.merge doesn't create directories for non-existing locales"
[code]

We should create those directories ourselves in Gettext and maybe log we created them.

[2015-11-24 15:24] whatyouhide commented on #58
Fixed in 38e37d02be3d33ab1a3a18af24d94abd5b240b7d!

[2015-11-24 15:24] #58 closed

[2015-11-24 15:54] whatyouhide commented on #57
Closed by 2f183e33ce8ac7ff317b255eb27c809526eb9535! /cc @josevalim

[2015-11-24 15:54] #57 closed

[2015-11-29 11:09] TakteS opened #60 "msgid and msgid_plural must be string literals"
How to use gettext dynamicly? I think code like:

[code]
have to work, because "string" variable return a string, it is logical, right?

[2015-11-29 11:26] josevalim commented on #60
@whatyouhide we need to improve the error message. Dynamic lookup should be avoided. If you are sure you want dynamic lookup, use `Gettext.gettext(YourGettext.Module, string)`.

[2015-11-29 11:35] whatyouhide commented on #60
@josevalim alright, makes sense. Working on it!

[2015-11-29 11:53] TakteS commented on #60
@josevalim If it is incorrect way, how to better translate ecto validation errors? Or you planned add this feature in ecto by default?

[2015-11-29 11:57] josevalim commented on #60
We are going to add somehting to Phoenix.Ecto soon but, in Ecto's case, the dynamic option via the `Gettext` module is the way to go. So you have our blessing :D

[2015-11-29 12:00] TakteS commented on #60
Ok :smile:

[2015-11-29 12:08] whatyouhide commented on #60
#61 should provide a much clearer error message in case this happens!

[2015-11-30 09:43] #60 closed

[2015-11-30 09:45] whatyouhide opened #62 "Add Gettext.known_locales(backend)"
This function would return all the locales in a given backend for which there are PO files. This is useful to know in advance if the locale you want to translate to has translations file or if Gettext would fallback to english.

[2015-12-01 06:18] TakteS commented on #62
The function should return a list like [{:domain, "msgid", "msgstr"}, ...]?

[2015-12-01 08:15] josevalim commented on #62
It should return only the known locale names as atoms or strings (I don't
remember how they are kept internally).

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-12-01 10:48] TakteS commented on #62
How to get a current "priv" path in the Gettext module?

[2015-12-01 11:09] whatyouhide commented on #62
@TakteS you mean how to get, given a `MyApp.Gettext` module, the directory from where that module is reading the PO files?

If so, the location for this module:

[code]

is in the `priv` directory of the given `:otp_app` (`:my_app`): `Application.app_dir(:my_app, "priv")` is the priv directory and the files are by default in `priv/gettext`. You can also customize that option:

[code]

Here, the tr

[2015-12-01 14:02] #62 closed

[2015-12-01 14:03] whatyouhide commented on #62
Closing for now as the issue mentioned adding `Gettext.known_locales/1` and it has been added by #63.

[2015-12-10 13:35] josevalim opened #64 "Add comments to generated files"
For .pot files we must say:

[code]

For .po files we must say:

[code]

We also need a mechanism to have those comments in pot files not leak into po.

[2015-12-17 05:19] cedricgc opened #67 "gettext fails to compile in Phoenix 1.1.0 installation"
Hello, when trying to compile dependencies in a new Phoenix 1.1.0 application the libary gettext fails to compile. It seems to not recgonize a module called `:yecc`. I have reproduced the error with some other info that may be useful. let me know if there anything else you need.

`$ elixir --version`
Elixir 1.1.0
`$ erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell`
"1

[2015-12-17 05:31] zhangsoledad commented on #67
The problem also happen on my server when i upgrade phoenix 1.1
![b7040f66-4189-4ce1-99a8-1b9f39846813](https://cloud.githubusercontent.com/assets/3198439/11862143/70d9cc18-a4c2-11e5-81bc-87808c61783a.png)

[2015-12-17 07:56] josevalim commented on #67
How did you install Erlang? You are missing the Erlang parser or Erlang
parser tools package.

On Thursday, December 17, 2015, zhangsoledad <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-12-17 08:27] #67 closed

[2015-12-17 08:28] josevalim commented on #67
You are likely missing the Erlang-parsetools package. Some distributions break Erlang into multiple Packages so you need to install them manually. Elixir v1.2 will include a better error message.

[2015-12-17 09:08] zhangsoledad commented on #67
@cedricgc
`wget https://packages.erlang-solutions.com/erlang-solutions_1.0_all.deb && sudo dpkg -i erlang-solutions_1.0_all.deb`
`sudo apt-get update`
`sudo apt-get install erlang`
 in my aws EC2(ubuntu)

[2015-12-17 09:39] josevalim commented on #67
Did it solve the problem or this is how it was installed? :)

On Thursday, December 17, 2015, zhangsoledad <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-12-17 09:46] zhangsoledad commented on #67
@josevalim I install elixir follow http://elixir-lang.org/install.html
![2e1a298d-2578-4360-810c-f1a35af6dc50](https://cloud.githubusercontent.com/assets/3198439/11866424/05266282-a4e6-11e5-99a6-82a8fdc1b861.png)
`sudo apt-get install erlang` can solve the problem

[2015-12-17 16:21] cedricgc commented on #67
I too followed the instructions on the official website for the Ubuntu box. I assume Debian breaks erlang stuff into multiple packages. I will try this again when I get home and report back.

[2015-12-17 18:58] cedricgc commented on #67
Following @zhangsoledad  instructions resolved the issue resolved the issue. I think the erlang shipped with elixir needs to be updated with these libraries or have Ubuntu and Debian boxes explicitly apt-get install erlang as well as elixir in the download instructions.

[2015-12-17 19:01] josevalim commented on #67
That's the problem, the default erlang in ubuntu and debian installs is broken into multiple packages. There is nothing we can do about it, I think it was already asked multiple times for them to not do that.

[2015-12-17 19:17] cedricgc commented on #67
I suggest for the ubuntu and debian instructions on http://elixir-lang.org/install.html have another line explicitly downloading erlang through apt-get after apt-get install elixir

[2015-12-23 17:41] #64 closed

[2015-12-28 18:19] whatyouhide opened #70 "Terrible error message when passing a non binary to Gettext.*gettext functions"
When a non binary value is passed to one of the `Gettext.*gettext` functions, the error is absolutely terrible (it goes down to `Regex.split/3`, making it super cryptic):

[code]

[2016-01-04 15:52] #70 closed

[2016-02-10 09:08] whatyouhide opened #74 "Terrible error when POTs are inside subdirectories"
When `.pot` files are inside subdirectories (e.g., `sub/foo.pot`), there's a match error which is the worst kind of error for users :).

[2016-02-15 00:07] whatyouhide opened #77 "Update the informative comments on newly generated PO(T) files"
The ones in Phoenix are looking better, we should match them in Gettext: https://github.com/phoenixframework/phoenix/commit/bd3abd816994d05f85ff74b5d25cfe6fa3b3e399.

[2016-02-15 08:55] #74 closed

[2016-02-20 10:37] whatyouhide commented on #77
Closed by https://github.com/elixir-lang/gettext/commit/c132d0ad1530aaae882993105b7011f99428a634.

[2016-02-20 10:37] #77 closed

[2016-02-23 02:15] battlemidget commented on #67
Just to add to this, I actually followed the instructions at http://elixir-lang.org/install.html as well but on my ubuntu 14.04 install I needed to also do:

[code]

Not sure if I even need `erlang-parsetools` but that was the ordered I did and seemed to work smoothly after that.

[2016-02-23 07:53] josevalim opened #79 "Remove ensure_yecc_compiler"
This is just a reminder for us to eventually do it. When Phoenix 1.2 is released, it will be Elixir 1.2 only and Elixir 1.2 already includes its own warning, so it should be safe to remove the task from gettext. :)

[2016-02-23 08:16] whatyouhide commented on #79
@josevalim what ensure_yecc_compiler?

[2016-02-23 08:27] josevalim commented on #79
My bad! :D

[2016-02-23 08:27] #79 closed

[2016-02-25 07:49] zhangsoledad opened #80 "Chinese language code"
There is a difference between Simplified Chinese and Traditional Chinese, zh can't distinguish
 the difference, usually we use `zh_CN` for  Simplified Chinese, `zh_TW` for Traditional Chinese, like  `en_US` and `en_GB`.
also see https://github.com/svenfuchs/rails-i18n/tree/master/rails/locale

[2016-02-25 08:05] josevalim commented on #80
Thank you @zhangsoledad!

@whatyouhide I think we should make the plural rules all prefix based. For example, instead of `"zn"` we should use `"zn" <> _`. The only exception of course are the ones which we already specify in the "x_Y"  format. We also need to make sure they come in the proper order. Thoughts?

[2016-02-25 09:52] whatyouhide commented on #80
@josevalim using `"..." <> _` sounds good to me. Today, we only have one locale `x_*` that has different pluralization rules than their `x` counterpart, which is `pt`/`pt_BR`; first of all, you can confirm that these two indeed have different pluralization rules. Then, I think a good way to approach this is just to define the clauses for specific `x_*` locales on the top so that they're always pic

[2016-02-25 10:35] josevalim commented on #80
Awesome. I will check about the portuguese rule. I have always spoken the same as in Portugal but Brazil is a bit country. :P

[2016-02-25 11:24] josevalim commented on #80
@whatyouhide let's remove both `es_AR` and `pt_BR`. We can always revisit later on.

[2016-02-25 14:57] #80 closed

[2016-03-09 20:55] mibamur commented on #67
@battlemidget thanks

[2016-03-11 06:53] jmccaffrey commented on #67
I've been trying to get this all running on cloud9, so I can work with students and help them play around with elixir & phoenix, and I was stuck with this gettext issue.
Thanks for the tip on
 sudo apt-get install erlang-dev
that solved my problem
 (for whatever reason erlang-parsetools would not install everything)

[2016-03-11 13:23] battlemidget commented on #67
@jmccaffrey erlange-parsetools probably didn't depend on erlang-dev

[2016-03-15 06:08] elfet opened #83 "Add support for extracting developers comments"
PO files provide very helpful feature called developer comments. It will be good if gettext.extract with support it.
[code]

[code]

[2016-03-15 07:22] elfet commented on #83
May be add optional argument for comments:
[code]

[2016-03-15 08:53] whatyouhide commented on #83
We definitely can't support translating actual Elixir comments to developer comments (as the `*gettext` macros work on the AST level, where the comments have already been removed).

I'm inclined to be :-1: regarding adding another argument to the `*gettext` macros, as they're already a bunch of functions with a bunch of different arities and default arguments, so I'm afraid this would make things

[2016-03-15 08:56] elfet commented on #83
This is good solution!

[2016-03-30 12:03] maufl opened #85 "Msgids are deleted from POT files"
I read through the issues and found that it's a feature, but unfortunately not for me.
When running `mix gettext.extract` all msgids from POT files that have a reference are deleted if they are not present in the extracted msgids.

I'm trying to extract gettext msgids from React components that we use in our Phoenix project.
Phoenix uses Webpack to bundle frontend assets and I found this handy [lo

[2016-03-30 12:06] josevalim commented on #85
@maufl can you please paste some examples of the msgids extracted from jsxgettext? Maybe we can provide some directory whitelisting. This way we won't remove msgids if they belong to a certain reference.

[2016-03-30 12:40] maufl commented on #85
Currently it looks like this

[code]

But I opend a [pull request](https://github.com/nnarhinen/jsxgettext-loader/pull/1) in the loader repo that should fix the file names, e.g. instead of `0` it will be `web/static/js/react_test.js`.

Directory whitelisting sounds like a good idea to me.

[2016-04-04 07:37] maufl commented on #85
The change landed in the loader and now the file looks like this:

[code]

[2016-04-04 07:46] josevalim commented on #85
Awesome! So I think we could support some sort of whitelisting where you would tell it to not touch translations from "web/static/js". Would you be interested in trying a patch? :)

[2016-04-04 07:57] maufl commented on #85
I'm already on it. I thought about on which level white/black listing could happen.
We could either exclude pot files/domains  while merging based on a pattern, or we could keep translations based on references. Do you know which solution you would prefer?
I have a working patch for the first approach but I could write a patch for the second approach too.

[2016-04-04 07:58] josevalim commented on #85
Both are fine to me. Excluding domains is easier for sure if you guarantee to keep the JS translations in separate domains. Let's wait and see @whatyouhide thinks about this.

[2016-04-04 10:32] whatyouhide commented on #85
In my opinion, one of the problems here could be that when extracting new translations, we read all translations from **all** POT files *in whatever subdir of each backend's `:priv_dir` directory* (as can be seen [here](https://github.com/elixir-lang/gettext/blob/master/lib/gettext/extractor.ex#L70)):

[code]

I think one step in the right direction could be to, as a started, change that wildcard

[2016-04-04 11:33] maufl commented on #85
I'm not sure. I just tried this and it seems that currently, each directory under `:priv_dir` is expected to be a locale by the `gettext.merge` task. So putting frontend files into a separate folder would require checking whether the folder contains translations for a locale.

I could put the frontend translations into a completely different folder, but then I would have to run merging twice. My g

[2016-04-04 12:09] whatyouhide commented on #85
@maufl yes, you're right. Gettext (`gettext.merge` in particular) still assumes every directory under `:priv_dir` is a locale.

So, I don't particularly like either of the proposed approaches but yet I can't think of anything better; excluding domains should definitely be easier to implement, but on the other hand the user is required to stuff all the frontend (or whatever scope) translations in a

[2016-04-04 12:25] maufl commented on #85
I like your last proposal.

I thought about white-/blacklisting domains or reference paths, and I think it would work if there is only one backend, which is probably the case most of the time. As soon as we have multiple backends,  which is a supported case, it's unclear were the configuration for white-/blacklists should go. Especially in the references case, because right now there is no informa

[2016-04-04 12:32] josevalim commented on #85
I am not a fan of the last proposal because of the noise. :( I wouldn't worry about multiple backends because why would you also spread the javascript related translations across backends?

[2016-04-04 12:35] whatyouhide commented on #85
If we go with blacklisting/whitelisting, we can configure it in the `:gettext` application I think, so that it applies to all backends.

[2016-04-04 12:36] josevalim commented on #85
I am fine with per backend or for the :gettext app.

[2016-04-04 12:39] whatyouhide commented on #85
I proposed to configure it for `:gettext` because I have a hard time imagining users wanting something blacklisted from a backend, but not from another backend; if Gettext for Elixir is not handling you frontend translations, then it's not a decision at the backend level :). Does it make sense? If so, @maufl wdyt?

[2016-04-04 12:47] maufl commented on #85
Yes, I think that's a good idea. In this case I would go for reference white-/blacklisting, so the user is free to use the same domain in frontend and backend.

I can take a shot at implementing it. :)

[2016-04-04 12:50] whatyouhide commented on #85
@maufl yep, let's go with this for now:

Of course, please do take a shot at implementing it, it would be awesome :smiley: Let me know if you find any bump in the road, especially if it's caused by some code being not-so-clear :).

[2016-04-04 12:59] maufl commented on #85
How would you name this configuration option? I'm not sure how to best express the intention.

(protect|exclude)_(refs)?_from_purging

[2016-04-04 14:35] maufl commented on #85
I think this [patch](https://github.com/elixir-lang/gettext/compare/master...maufl:allow-whitelisting) might suffice.
Can you take a look at the code and let me know if I forgot about something?
If the code is OK, I will add tests and documentation and open a pull request (or I can do this now).

There where some bumps :) Sometimes it's not easy to follow the code, but I can not point my finger at

[2016-04-04 14:47] whatyouhide commented on #85
@maufl you can open a PR so I can review the changes if you want. :)

[2016-04-04 15:18] maufl commented on #85
Now I have a test and documentation. I opened a pull request.

[2016-04-04 15:19] josevalim commented on #85
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-04-05 12:40] whatyouhide commented on #85
This landed in #86, so closing this.

[2016-04-05 12:40] #85 closed

[2016-04-05 14:29] maufl opened #87 "Default pluralizer does not have fallback for unknown locales"
Hi, it's me again ^^
The documentation says:

However, I just found that this locale will be passed to `Gettext.Plural.plural` if no other pluralizer is configured. I get a `no function clause matching` for the locale `nb-no`.

I think there should be a catch all clause to avoid problems when people use strange locales.

[2016-04-05 14:44] whatyouhide commented on #87
Ok, note to self (so that I understand this better :smiley:):

1. A user wants to use a locale that `Gettext.Plural` doesn't cover, e.g., `nb-no`.
2. They add the `nb-no/LC_MESSAGES/*.po` translation files, hence...
3. ...a `nb-no` clause is generated for the `l(n)gettext` functions in each backend.
4. This clause is hit when translating `nb-no` messages, so we hit [these lines](https://github.com

[2016-04-05 15:23] josevalim commented on #87
It is probably best to raise with a good error message and instructions on how to install your own plural rules. Right?

[2016-04-05 15:25] whatyouhide commented on #87
@josevalim right, I even updated the docs for `Gettext.Plural` some time ago exactly to show how to just add a locale and fallback to `Gettext.Plural` for all others. Will do this in a moment then.

[2016-04-05 16:01] whatyouhide commented on #87
@josevalim a small problem arised while implementing this: right now, since we do `locale <> _` for all clauses, I had trouble reproducing this because

[code]

is fine as we support the `"wa"` locale and have a clause `def plural("wa" <> _)`. Not sure what's the best course of action here: we could have clauses for `"wa_" <> _` instead, but I'm not sure we'd cover all possible locales that way an

[2016-04-05 16:08] josevalim commented on #87
@whatyouhide what if our catch all clause split on "_" and call it again only with the first part? Alternatively, for every locale, we could generate a clause like this: `def plural("wa_" <> _, n), do: plural("wa", n)`. Thoughts?

[2016-04-05 18:14] whatyouhide commented on #87
@josevalim okay, I was writing my smart solution only to find out it's the same as your first solution, only I didn't get your first solution because of markdown being nasty :smile: Yes, let's do

[code]

[2016-04-08 14:25] whatyouhide opened #89 "Syntax errors can be absolutely terrible"
A PO file like this beauty (`default.po`):

[code]

Spits out a basically impossible-to-decipher error:

[code]

Why this sucks (as if it was need to show explicitly :stuck_out_tongue:):
- [x] no file name (wat!!!)
- [x] Erlang binary instead of Elixir binary
- [ ] finally, it should just say something like "missing `msgstr` for `msgid "hello"`"

@josevalim I'm afraid the only way to do this is to

[2016-04-08 14:46] josevalim commented on #89
@whatyouhide it can be fixed, check how Elixir does it, but it is not pretty. :) In particular, if you can stick to erlang like tokens, things will be better.

[2016-04-08 14:46] josevalim commented on #89
Actually, didn't you work on a PR in Elixir's parser to solve similar issues? :)

[2016-04-08 16:35] whatyouhide commented on #89
@josevalim indeed I did this for char literals a few weeks ago in Elixir, but the Erlang representation here is just one of the problems. We can fix it by rewriting errors that match, e.g., `<<` but other than it not being pretty, it doesn't solve what I believe is a more important issue, which is that maybe we should probably just say "missing `msgstr` for `msgid "hello"`" as an error message ins

[2016-04-08 16:42] josevalim commented on #89
One option is to simplify the parsing to only parse lines, so it would
return a list of ["comment", "msgstr", "msgid"], and you would do the
grouping and post-validation later in a separate step.

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

On Fri, Apr 8, 2016 at 6:35 PM, Andrea Leopardi <notifications@github.com>
wrote:

[2016-04-08 21:21] whatyouhide commented on #89
@josevalim sorry, I wasn't very clear earlier, but what you suggested is exactly what I meant with

:) I'll see what I can come up with. :smiley:

[2016-04-22 18:07] sokoow opened #93 "gettext fails to compile with phoenix 1.1"
This is similar to, but slightly different than:

https://github.com/elixir-lang/gettext/issues/67
https://github.com/phoenixframework/phoenix/issues/1411

[code]

I got erlang-parsetools and erlang-dev installed, and the error is same on ubuntu 15.10 and 16.04. Help please?

[2016-04-22 18:27] sokoow commented on #93
it just required newer version of elixir.. all good now

[2016-04-22 18:27] #93 closed

[2016-05-11 06:56] lboekhorst opened #94 "Extraction fails when using variable domain"
As per https://groups.google.com/forum/#!topic/elixir-lang-talk/GyYMj_4oc4o, `mix gettext.extract` crashes when used with a variable domain name, such as `dgettext(domain, "Say something")`

[code]
Preferably I would not have it crash but rather just skip over the calls it cannot extract so that I can create those myself, and fill in the calls that it did extract.

[2016-05-11 11:06] maufl opened #95 "Wrong documentation?"
I think the documentation for the plural forms might contain a mistake.
It says [here](https://github.com/elixir-lang/gettext/blob/master/lib/gettext.ex#L263) that you can configure the pluralizer in `config/config.exs` but that did not work for me. Configuring it in the custom Gettext module when using `use Gettext` does work though.

[2016-05-11 16:03] #95 closed

[2016-05-11 16:03] whatyouhide commented on #95
Great catch @maufl! Thanks for reporting the issue, fixed in bb0bbfc.

[2016-05-13 08:16] josevalim commented on #94
@whatyouhide any ideas what we should do to solve this? Should we just silently allow variable domains or should we force them to be static (redirecting to Gettext.dgettext) if they want it to be dynamic)?

[2016-05-13 09:06] nsi88 opened #96 "(Gettext.Error) missing interpolation keys"
Got:
[code]
when call:
`gettext("test %{a} %{a}", a: 1)`

For
`gettext("test %{a}", a: 1)`
everything is fine

[2016-05-13 09:42] whatyouhide commented on #94
@josevalim I'd prefer the second alternative, being stricter. It would be consistent with what we do with msg* things as well. Wdyt?

[2016-05-13 09:44] whatyouhide commented on #96
@nsi88 what version of Gettext are you running on? There was one issue with duplicate interpolation keys that was fixed recently (I'm on my phone so no link, but you can look through recent PRs if you want).

[2016-05-13 10:49] josevalim commented on #94
Sounds like a plan! And I think our error messages already include
instructions on how to use the runtime based variants, right?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-05-13 10:51] whatyouhide commented on #94
Yeah, they do so it's a small and very consistent change. I'll do it in a
few hours :)

On Friday, 13 May 2016, José Valim <notifications@github.com> wrote:

--

Andrea Leopardi
an.leopardi@gmail.com

[2016-05-13 16:33] whatyouhide commented on #96
Back at a computer, and this was definitely fixed in #92. We'll release a new gettext version that includes that change as soon as we'll fix a couple other things.

[2016-05-13 16:33] #96 closed

[2016-05-13 16:33] #94 closed

[2016-05-13 21:40] johnkelly opened #98 "Dialyzer output"
mix.lock
[code]

Relevant mix.exs dialyzer configuration in project function
[code]

On a brand new elixir 1.2.5 phoenix project, I get the following output from the dialyzer.

[code]

[2016-05-14 09:18] whatyouhide commented on #98
@josevalim any idea of what's going on here?

[2016-05-14 09:20] whatyouhide opened #99 "Using wildcard in the gettext compiler can be really slow"
Brought up by https://github.com/phoenixframework/phoenix/issues/1671.

[2016-05-14 10:10] josevalim commented on #98
Not sure. :(

[2016-05-16 22:58] johnkelly commented on #98
When I search phoenix repo for dgettext or dngettext this turns up:

https://github.com/phoenixframework/phoenix/blob/bd4b9984397497a48b99c7b47d8b057c380af71b/installer/templates/new/web/views/error_helpers.ex#L35-L37

Is it because the first argument is an atom?

[2016-05-17 07:35] josevalim commented on #98
@johnkelly the typespecs for those seem correct though: https://github.com/elixir-lang/gettext/blob/master/lib/gettext.ex#L501

I am thinking then it may rather be an issue with the macros defined in the Gettext backend?

[2016-05-17 08:18] whatyouhide commented on #98
@josevalim is right, dialyzer is complaining about the macros defined by `Gettext` when you call `use Gettext` in your gettext module. As you can see, it mentions `'MACRO-dgettext'/3` and others but `Gettext.*gettext` (which you linked to above) are functions.

I really have no idea what's going on here 😕

[2016-06-04 20:44] josevalim opened #103 "Running "mix test" multiple times always recompiled the full app"
That's because there is something in the tests themselves erasing beam files.

[2016-06-05 13:05] whatyouhide commented on #103
Fixed in 13db229563cbdcc61712bda22eec2ef6de0de172.

[2016-06-05 13:05] #103 closed

[2016-06-05 15:13] whatyouhide commented on #99
@josevalim has this been solved? 😕

[2016-06-05 15:34] josevalim commented on #99
Errr, my bad. I thought we fixed this but now I see the PR is still open. :)

[2016-06-15 07:40] maufl opened #104 "Task gettext.extract does not work when used last in an alias"
I just stumbled upon a problem with the `mix gettext.extract` task. In our `mix.exs` file we define an alias like this:
[code]
This does not work :( The code gets compiled but the POT file is never written.
However:
[code]
does work.

Our custom extract task looks like this.
[code]

It's not really a problem for us, but maybe someone else will run into the same problem, so I wanted to document it

[2016-06-15 07:44] josevalim commented on #104
Which gettext version? Have you tried the latest? :)

[2016-06-15 07:46] maufl commented on #104
Sorry, forgot to mention the version. We're on 0.11, as far as I can see that's the latest version.

[2016-06-15 08:58] whatyouhide commented on #104
I'll look into this @maufl, thanks for the report. Btw just for safety, when things don't work as expected always try out master as well as the latest version, we may have fixed bugs there (but I don't think this is the case) 😺

[2016-06-29 23:06] leighshepperson opened #107 "Alternative to missing interpolation keys error message"
If you use interpolation to construct a string, and you provide it with missing keys, then it returns an error message telling you which keys are missing.

However, I need to use Gettext dynamically, and I would like it to do something a little different: If the key "key" is not present, then I would like it to return the string with place holder text "{key}".

For example, instead of this:

[code

[2016-06-30 08:50] whatyouhide commented on #107
Just to point out, but did you mean this call in the examples you showed:

[code]

? Assuming you meant that, `lgettext/4` is not public API but I'm assuming you're using it as an example to show the `{:error, _} | {:ok, _}` return value (instead of the raising that the public functions/macros do).

That said, I tend to be 👎 for this feature; I feel it's a *really* unexpected behaviour that could

[2016-06-30 08:54] whatyouhide commented on #83
Since nobody else requested this feature, I'm inclined to close this as implementing this feels like it would be quite some work for what feels to be a niche feature. Can I have your blessing as well, @josevalim?

[2016-06-30 08:58] josevalim commented on #83
@whatyouhide yes, let's close it.

[2016-06-30 08:58] #83 closed

[2016-07-03 09:45] whatyouhide commented on #104
I was finally able to reproduce this and I think I know the problem that is causing it (but not the solution 😕). First of all, this is not reproducible using custom tasks as functions (instead of compiled Mix tasks), e.g., this doesn't reproduce the problem:

[code]

The example above works fine. It's reproducible however when the custom task is a compiled Mix task, e.g.:

[code]

As you can see,

[2016-07-03 10:30] josevalim commented on #104
@whatyouhide you are right. It doesn't run because compile was already invoked. What you could do is to call `Mix.Task.reenable "compile"` as well as traverse all children reenabling them. Here is what Phoenix does in its code reloader: https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/code_reloader/server.ex#L107

I don't think we need to reenable them all though, likely just th

[2016-07-03 14:26] #104 closed

[2016-07-03 15:42] whatyouhide commented on #98
@ericmj and @fishcakez, I'm gonna go ahead and ping you as well here cause I really don't know where to start. Any ideas?

[2016-07-03 19:12] ericmj commented on #98
Sorry, I don't use dialyzer.

[2016-07-04 11:52] maufl commented on #107
As I said in #109 I don't like this behaviour either. I understand why not raising an error might not be a good idea. On the other hand the translations are not always maintained by the developers and are not usually all covered by tests.
So if a translator makes a mistake in a binding name, we will get a runtime error. :(

As an example, we have a website with multiple locales. Now if the Norwegi

[2016-07-04 12:14] whatyouhide commented on #107
When there's a missing interpolation key we raise a `Gettext.Error` though, so one could implement the `Plug.Exception` protocol for `Gettext.Error` and make it raise something more reasonable or act on it accordingly. Broken translations are *really* hard to spot by developers and not users, because usually developers don't look at all the translations. Another point about translator making typos

[2016-07-04 12:20] josevalim commented on #107
@whatyouhide well, you will still have interpolation in the msgstr and you can make a typo there. I think a good compromise would be to make this a configuration option in the backend? For production, you want to keep values you can't interpolate although for development it likely makes sense to error on missing keys?

[2016-07-04 12:25] maufl commented on #107
@whatyouhide can we even check for typos in `msgid`s if the bindings are not known at compile time?

@josevalim that sounds like a good idea. Maybe we could also provide a callback on missing translations, so that a message can be written to a log or a mail be sent to the developers?

[2016-07-04 12:29] whatyouhide commented on #107
@maufl most of the time (or at least for non-dynamic translations) we have only the string to translate at compile time, thus only the `%{bindings}` in it (but not the map of bindings passed to it).

Making this configurable is definitely an option; I'm not sure I would go with a callback like @maufl suggested because then it's gonna be hard to change this per-environment (but it would be easy to

[2016-07-04 12:41] josevalim commented on #107
@whatyouhide yes.

[2016-07-04 12:46] jeremyjh commented on #98
I put this in my gettext.ex module to silence these warnings.

[code]

[2016-07-04 12:51] whatyouhide commented on #98
@josevalim do you think it would be reasonable to put that in Gettext backends when we `use Gettext`?

[2016-07-04 13:24] josevalim commented on #98
@whatyouhide I think we should rather fix this. @jeremyjh can you provide a simple app that reproduces those warnings so it makes it easier for us to fix this? Thank you!

[2016-07-04 17:24] fishcakez commented on #98
This is fixed on Elixir master and the v1.3 branch, so will be included in `v1.4.0` and `v.1.3.2` whenever they happen.

[2016-07-04 17:28] #98 closed

[2016-07-16 16:44] #99 closed

[2016-07-18 17:47] whatyouhide commented on #107
So, let's revive this a bit :) Shall we go with a configurable (per-backend I think?) callback module? Or a configurable *switch* between warning and leaving as `%{is}` vs not doing anything? Wdyt?

[2016-07-18 18:10] josevalim commented on #107
@whatyouhide let's go with a callback in the backend and changing the default to keep it as `%{is}`. Then we can discuss an option later on?

[2016-07-18 18:22] whatyouhide commented on #107
Yes, let's start with a (overridable) callback that we define in `use Gettext` and document in the `Gettext.Backend` behaviour, à la `c:GenServer.init/1`.

[2016-07-19 09:15] maufl commented on #107
Or maybe we could just have a callback and the return value is substituted for the missing key?

[2016-07-19 09:17] whatyouhide commented on #107
@maufl yes, I think that's what @josevalim meant. We will have something like:

[code]

With a default implementation that goes something like:

[code]

[2016-07-19 17:10] josevalim commented on #107
Let's use Logger.warn though. :)

[2016-07-19 17:11] josevalim commented on #107
Let's also pass the locale to the function so we know which locale failed when we warn. :D

[2016-07-19 19:14] whatyouhide commented on #107
Yeah, that was a sucky implementation just to show how it would work, I randomly chose `binding` and `original_string` 😄 No `IO.warn` because we need to support Elixir >= 1.1 and yes, let's pass the locale.

[2016-07-21 12:09] maufl commented on #107
So I looked into it, but I'm not quite sure how to implement it. `Gettext.Interpolation.interpolate` does not hold a reference to the current backend and passing it just for the missing handler feels not right :confused:
How would you call the `handle_missing_binding` method from `interpolate`?
And where does the default implementation go, into the `__using__()` macro of `Gettext`? That feels uncl

[2016-07-21 12:12] lexmag opened #112 "Consider adding gettext functions that accept locale as argument"
Right now it requires extra work and affects performance (e.g. the usage of `Gettext.with_locale/3`).
An use case for it is the construction of push notification messages.

[2016-07-21 12:15] josevalim commented on #112
I think we already have those they are just not exposed (but you probably knew that).

[2016-07-21 12:18] whatyouhide commented on #112
This is also kind of a "natural" function to have as internally other functions would still be built on it, e.g.:

[code]

would become just

[code]

(roughly ofc)

The only nasty thing I foresee (but which is an implementation detail) is that arities will start clashing, e.g., `gettext(backend, locale, msgid)` vs `gettext(backend, msgid, bindings)`.

[2016-07-21 12:19] whatyouhide commented on #112
@josevalim yes we have them as `l*gettext` in the backends, but we don't expose them in the backend or in `Gettext`.

[2016-07-21 12:24] whatyouhide commented on #107
Why so? It's what something like [`GenServer`](https://github.com/elixir-lang/elixir/blob/c6a25729e08ee6eee3bbfcc44d6bf99d00a17653/lib/elixir/lib/gen_server.ex#L502-L549) does as well for example.

I think we should call the `handle_missing_binding` handler from inside the backend, not from `interpolate`. I haven't looked very well but off the top of my head we could just change the return value o

[2016-07-21 12:25] josevalim commented on #112
@whatyouhide right. I would consider exposing them instead so we avoid the argument issue.

[2016-07-21 12:27] whatyouhide commented on #112
@josevalim expose the `l*gettext` functions in the backends you mean? What about macros, should they support specifying a locale as well?

[2016-07-21 12:28] josevalim commented on #107
The interpolation code should compile to something like this:

    interpolate(locale, map, key, original)

where:

    defp interpolate(locale, map, key, original) do
      case map do
        %{^key => value} -> value
        %{} -> handle_missing_interpolation(locale, key, original)
        _ -> raise "not a map yo"
      end
    end

and it should just assume handle_missing_interpolation will

[2016-07-21 12:29] josevalim commented on #112
@whatyouhide because it is meant to be dynamic, no need to have them in the backend only on Gettext?

[2016-07-21 12:30] whatyouhide commented on #107
Yeah you're right @josevalim, that's how it is supposed to look in the compiled code. I guess my reasoning applies well to the non-compiled code though? :)

[2016-07-21 12:34] whatyouhide commented on #112
The locale is meant to be dynamic but the msgids not necessarily, right? I mean in our use case we would call:

[code]

and still use `mix gettext.extract`.

[2016-07-24 07:47] josevalim commented on #112
@whatyouhide good call, yes.

[2016-07-25 10:16] whatyouhide commented on #107
@maufl did you get what me and @josevalim discussed about above? Let me know if anything was unclear of if you need any kind of help :)

[2016-07-25 10:18] whatyouhide commented on #112
@josevalim so the thing will be that it will be nasty to generate private and internal `l*gettext/*` functions *and* `l*gettext/*` public macros in a backend IMO. What I would do is rename the internal functions to something like `compiled_gettext` and `compiled_ngettext` and introduce the public macros `lgettext`, `lngettext`, `ldgettext`, `ldngettext` (jeez these names are horrible btw, `ldngett

[2016-07-25 10:25] josevalim commented on #112
@whatyouhide another option is to allow it only through Gettext and in the dynamic format... or just accept Gettext.with_locale is the way to go because of the API complexity.

[2016-07-25 10:27] whatyouhide commented on #112
@josevalim the thing is that as I said above I think it would be pretty legit to use `lgettext` with a compile-time string that you then want extracted by `gettext.extract` 😕 As for the `with_locale`, the problem is that it's indeed quite slower I think because we need to set some app env, retrieve it to translate, and set it back after. But I agree on the complexity that the API would gain so I'm

[2016-07-25 10:39] josevalim commented on #112
Don't we use the process dictionary?

[2016-07-25 10:40] whatyouhide commented on #112
Correct, sorry, I meant the pdict :)

[2016-07-25 10:40] lexmag commented on #112
Yeah, I think neither `with_locale` (besides pdict dance there is anonymous function creation) nor dynamic functions are good options, it feels to me a nice solution to try in that comment: https://github.com/elixir-lang/gettext/issues/112#issuecomment-234915827.
Otherwise we would need to fork Gettext and adjust it to our needs. :disappointed:

[2016-07-25 11:30] josevalim commented on #112
Have you measured? Because storing to pdict and a anonymous function sounds
really really minor, specially because you are going over the network for
push notifications anyway?

On Monday, July 25, 2016, Aleksei Magusev <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-25 13:19] lexmag commented on #112
Yes, indeed it's tiny difference for a single call, but not having anonymous function creation it makes payload generating about 2 times faster, for 1 million recipients – translation calls take 0,09s instead of 0,15s.
It may do some greater difference when several push events happening at the same time, also there is unnecessary garbage.
That said, not sure this justifies the change (at lest we d

[2016-07-25 18:32] whatyouhide commented on #112
I'm torn a bit on this. On one hand, these macros seem really natural to have and they also bring improvements in terms of speed (slight) and garbage (with the anon function, this could get nastier than speed). However, on the other hand, we had no other users requesting this, which makes me think it's not a features many want; note that this may just be because users are ok with `with_locale/2` a

[2016-07-25 18:37] josevalim commented on #112
In your case, can't you just set the locale without with_locale? What is
the point of wrapping in function if you are changing it in the next item
anyway?

On Monday, July 25, 2016, Andrea Leopardi <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-25 19:45] lexmag commented on #112
We probably can and likely will do (don't really remember why we didn't do it from the beginning), anyway, I think these new locale functions can wait. 💛

[2016-07-25 19:45] #112 closed

[2016-07-25 20:32] whatyouhide commented on #112
Awesome, let's wait if other users request this, especially now that they may see this issue. Thanks everybody for the help 💟

[2016-07-26 08:11] maufl commented on #107
Sorry, I was busy working on my university courses over the weekend :/
Actually, I did not fully get what @josevalim means, but I think it's because I do not completely understand the interpolation code right now. Isn't the `msgstr` interpolated in one go right now? The signature of the `interpolate` method from @josevalim looks totally different from the current one. Do you want to make a macro o

[2016-07-26 08:23] whatyouhide commented on #107
@maufl interpolation is done differently depending on the msgid being passed at compile time (to one of the Gettext macros in a Gettext backend) or at runtime (to, the `Gettext.*gettext` functions). In the first case, we compile something like:

[code]

to something like:

[code]

We can do this to optimize speed because we have both the msgid and msgstr at compile time. Does this help clarify thi

[2016-07-27 09:27] maufl commented on #107
Ok, I think I understood now how the compilation of PO files works and where the interpolation happens. Also, as this will be important to our project, I can work on this today at work :)
I'm just still not sure how to do it for dynamic translations. I'll be back with a PR and then we can discuss it further.

[2016-07-27 09:28] whatyouhide commented on #107
Awesome @maufl, sounds like a great plan :)

[2016-07-27 12:04] maufl commented on #107
Ok, so I'm struggeling to implement this. I opened a pull request so that we can discuss it with code #113

[2016-08-15 23:37] dannote opened #114 "Missing support for translation context"
The original gettext library has `pgettext`, `npgettext`, `dpgettext` and `dpngettext` macros to provide different translations of the same phrases in different context. Those are very useful in case of there are short strings and their implementation is simple.

[2016-08-16 07:48] josevalim commented on #114
@dannote We have by design decided to not include contexts because, even in the original implementation, they are simply shortcut macros that can be implemented by the developer and because domains can also be used to solve similar problems.

[2016-08-16 16:02] dannote commented on #114
@josevalim AFAIK domains were designed to split translation files into modules and contexts were designed to store different translations for same phrases even within the same domain. For example, in a Phoenix application there are at least two separate domains - one for Ecto messages and one for UI. Imagine that we need two different translations for different models (that often happens for Russi

[2016-08-16 16:11] josevalim commented on #114
@dannote yes, I would use two different domains in this case. From what I understand about contexts, they are used to solve ambiguity arising from linguistic situations. For example, you can use "file" as a verb and as a noun in english, although that wouldn't work in other languages. It is a linguistic context rather than the application domain one. It could also be used when gender, adverbs and

[2016-08-16 16:44] whatyouhide commented on #114
The idea is that you can have domains like `ecto.verbs` and `ecto.nouns` or whatnot. At the time we architected this library, me and @josevalim discussed this but concluded it was ok to not have them because they introduce substantial complexity for maybe not that much gain, and we decided to wait to see if people wanted this (or something like this). I think this is the first time this gets menti

[2016-08-16 19:20] aaronjensen opened #115 "Dialyzer warnings with OTP 19"
Brand new phoenix app created with `mix phoenix.new` on OTP 19 has these warnings.

Here's a repro app: https://github.com/aaronjensen/dialyzer_repro

Irrelevant warnings are omitted. Originally reported at https://github.com/phoenixframework/phoenix/issues/1872

[code]

[2016-08-16 20:57] whatyouhide commented on #115
@josevalim is this a dialyzer bug as well or should I look into it? :)

[2016-08-16 21:33] josevalim commented on #115
They don't seem to be dialyzer bugs. They look like a missing spec for lngettext functions (they are required when there is no local return) and the other one looks like dialyzer thinks we are passing more than string to interpolate. Both can probably be fixed by specifying specs for lngettext.

[2016-08-16 21:39] whatyouhide commented on #115
Got it, gonna do this then :)

[2016-08-17 15:10] dannote commented on #114
I suppose that this feature won't bloat the library much. I can prepare PR for those four functions. Anyway, it would be nice to provide instructions for other developers who might require contexts.

[code]

[2016-08-18 01:52] josevalim commented on #114
I think it is best to document for now this is possible instead of
including it as part of gettext. As Andrea said, it is the first time this
feature is requested, so I would wait a bit longer before making a
commitment.

On Wednesday, August 17, 2016, Andrea Leopardi <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director o

[2016-08-18 15:55] dannote commented on #114
@whatyouhide Sorry, that was a wrong suggestion. I thought that `.PO` files are compiled to `.MO` as in the original library. The parser should be modified to understand `msgctxt` instead.

[2016-08-18 20:46] whatyouhide commented on #114
@dannote exactly, and that should be handled everywhere in Gettext. It would not be a small change, that's why me and José are trying to not do it until absolutely necessary (read: requested by several users). As someone once said, in open source, saying no is temporary, but saying yes is forever :) So let's wait to see if someone else is interested and maybe in the meantime you can try out the "r

[2016-08-20 15:03] whatyouhide commented on #115
@aaronjensen I just pushed a couple of commits that may fix part of this, can you give it a try again and report if you get any more warnings? :)

[2016-08-20 15:11] whatyouhide commented on #114
I just pushed https://github.com/elixir-lang/gettext/commit/5e65d6643749e387f155704e18b1eef4b8d9f1dc to master, which talks about "contexts" in the documentation for `Gettext`. @josevalim do you think it's enough? Also, do you think we should mention that if people want this they can talk to us and if enough people want this we can give it a shot? I'm afraid the current wording could make people f

[2016-08-20 15:33] aaronjensen commented on #115
Different ones now:

[code]

[2016-08-24 23:59] mirceal opened #121 "set license when publishing to hex"
https://hex.pm/packages/gettext

Currently it does not show any license. You have to dig through the repo to figure out it's Apache 2.0
it would be helpful if one could learn this by looking at hex.pm directly

[2016-08-25 08:10] whatyouhide commented on #121
Hey @mirceal, If I go to https://hex.pm/packages/gettext I see the "License" section where it says "Apache 2.0", as confirmed by [this line in `mix.exs`](https://github.com/elixir-lang/gettext/blob/bd5d3a2c0307fd346bf1043bea294e87496491d8/mix.exs#L33) where that license is set. 😕

I'm gonna close this for now, but feel free to reopen this if you still can't see any license, maybe with attached scr

[2016-08-25 08:10] #121 closed

[2016-09-07 13:39] stephenmoloney commented on #114
@josevalim , @whatyouhide
I've just started using gettext for the first time today... It's been great so far and I'd like to say thanks for doing a great job. :+1:

I've never used the `.pot` and `gettext` system before today. I speak Spanish reasonably well too so I started to do some translations and I very quickly noticed an issue with context... with translations context is important and I'd l

[2016-09-07 13:47] whatyouhide commented on #114
Hey @stephenmoloney, thanks for pitching in (and for the kind words!). As of now, if you write

[code]

and run `mix gettext.merge`, you should get PO files with the comment in them:

[code]

so this should already work?

The alternative would be something like https://github.com/elixir-lang/gettext/issues/83, where we attach comments *from the developer to the translator*, in the source code, alo

[2016-09-07 14:58] stephenmoloney commented on #114
@whatyouhide Thanks for the reply, Sorry, yes, the comments work. The only thing I did notice and can reproduce is that if I change a comment, the new updated comment doesn't get merged back in.
Not sure why the comments didn't work in the first attempt but I can't reproduce that.. they do work.. just updating a comment is the only issue I can reproduce.

[2016-09-07 15:01] whatyouhide commented on #114
@stephenmoloney can you open an issue for that? I'll look into it. :)

[2016-09-07 15:13] stephenmoloney opened #122 "Updated comments changes ignored"
**Issue:**
Updated comments in the `.pot` file don't seem to have the change propogated to the `.po` files on running `mix gettext.merge priv/gettext`

In `.pot` files:

[code]

changed to

[code]

doesn't seem to update in the `.po` files

[2016-09-08 20:18] whatyouhide commented on #122
@stephenmoloney I'm gonna be still a bit busy for a while, so if you want to give this a try, that would be great :). I would start by looking into what [`Gettext.Merger.merge_files/3`](https://github.com/elixir-lang/gettext/blob/bd5d3a2c0307fd346bf1043bea294e87496491d8/lib/gettext/merger.ex#L29-L31) does: it merges a PO file and a POT file. If you need any help feel free to ping me, and if you do

[2016-09-09 15:06] stephenmoloney commented on #122
@whatyouhide I'll take a look.

[2016-09-09 15:58] stephenmoloney commented on #122
@whatyouhide

I've taken a look and I think I know what is going on. In fact, your inner documentation is quite good.
If you read on this [line](https://github.com/elixir-lang/gettext/blob/bd5d3a2c0307fd346bf1043bea294e87496491d8/lib/gettext/merger.ex#L50), it states explicitly that `new` comments will be discarded in favour of those in `old`... This I think explains why comments updated by the pr

[2016-09-10 09:01] whatyouhide commented on #122
Hey @stephenmoloney, yes, that is exactly what I thought could be happening. Taking a step back: Gettext allows for different kinds of comments:

[code]

First of all, right now, it seems like developers are using "Translator comments". I think according to the Gettext way, developers should use "Extracted comments" *in the source code*, and Gettext should extract them to `#.` comments (which we d

[2016-09-10 09:48] josevalim commented on #122
Using extracted comments sounds like the way to go then.

On Saturday, September 10, 2016, Andrea Leopardi <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-09-10 09:50] stephenmoloney commented on #122
Ok, I'll take a look at the tokenizer, parser and merger files and see how one might go about it.

[2016-09-10 10:05] whatyouhide commented on #122
Ok, we can go with extracted comments, but we have to discuss the API to use them. I don't want people to have to know they manually have to write `#: stuff` as "developers" comments. Btw, the reference issue for developer comments would be #83.

[2016-09-10 10:48] stephenmoloney commented on #122
@whatyouhide
Looking at [issue 83](https://github.com/elixir-lang/gettext/issues/83), it seems that a separate request was made for extracted comments before. So to be clear about scope, I'd like to propose that this problem be divided into 2 parts as follows:

1. Comments added directly to the `.pot` files with `#.` in the `.pot` file will be seen as developer comments and are merged with normal

[2016-09-10 11:06] whatyouhide commented on #122
I don't really like 1. because developer comments are not really meant to be added manually to POT files - that's why they're actually called "Extracted comments" in the Gettext documentation, they're meant to be extracted from source (same way we extract translations from source).

I really don't know how to proceed here, it's indeed unavoidably complex. :(

[2016-09-10 11:41] stephenmoloney commented on #122
Ok. I wan't sure about whether a developer should directly modify the `.pot` file. Makes sense not to touch it.

In that case if going choosing a new macro or function, some thoughts are:

- Do you want to add another function or macro for this feature?
- What would the macro be?
- What to do if the macro is invoked more than once and how to avoid this?

Take you time anyways, I'm in no rush!

[2016-09-10 22:08] josevalim commented on #122
Between 1` and 2 I would prefer to repurpose `#:` as developer comments since I prefer that to supporting something like `gettext_comment`.

[2016-09-10 22:45] whatyouhide commented on #122
@josevalim you mean `#.` right? Since `#:` are "Reference comments" to hold reference to source :)

[2016-09-10 22:57] lexmag commented on #122
I like the idea of using `#.` for the `.pot` comments.

[2016-09-10 23:08] stephenmoloney commented on #122
just to clarify, because I think maybe it's not so clear. `#.` is for developer comments that are 'extracted' from source code. `#:` is for referencing the source location of a gettext declaration.

Also, in terms of option 1. and 2. above, I'm not sure everyone is clear here, they are not mutually exclusive necessarily. It's a choice really of whether to allow option 1. or disallow it. The `#.` c

[2016-09-19 12:11] whatyouhide opened #123 ""mix test --stale" doesn't work with Gettext"
I have to investigate why. It basically just runs as `mix test` without caching tests or even printing anything that `mix test --stale` usually prints. @antipax if you have any quick idea on why this could be, feel free to chime in :)

[2016-09-19 12:16] josevalim commented on #123
Just to be double sure, you are on latest Elixir right? :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-19 12:18] whatyouhide commented on #123
I tend to always run Elixir master but I hadn't pulled in a couple days, anyways just pulled the latest master and this still happens.
<img width="515" alt="screen shot 2016-09-19 at 14 18 37" src="https://cloud.githubusercontent.com/assets/3890250/18631732/fe2f783e-7e73-11e6-9ef2-631ed3f3c17b.png">

[2016-09-19 12:27] josevalim commented on #123
and possibility is that the gettext tests are touching a source file or something similar and that's always busting the stale cache.

[2016-09-19 12:28] whatyouhide commented on #123
That would be my bet, yes. I haven't investigated this even a second :), but I will investigate as soon as I can.

[2016-09-19 14:59] antipax commented on #123
@josevalim is probably right.

I'm going to take a look at this as well, will let you two know if I find anything. :)

[2016-09-19 19:33] #123 closed

[2016-09-28 11:35] schurig opened #125 "Extract dynamic translation calls"
We wrote a [hex package](https://github.com/sbrink/phoenix_simple_form) for phoenix that makes form handling easier.

Unfortunately, we didn't find any way to use the `mix gettext.extract` with it.

## Example
`%User{first_name: "....", last_name: "....."}` (User model)

`<%= input f, :first_name %>` (User form)

**It calles:**

[code]
_[(source code)](https://github.com/sbrink/phoenix_simple_form

[2016-09-28 11:49] josevalim commented on #125
No. Dynamic translations need to be added by hand.

[2016-09-28 11:49] #125 closed

[2016-09-28 11:53] josevalim commented on #125
Btw, this week we are publishing a blog post on @plataformatec's blog on why we are not writing something like SimpleForm for Phoenix. We show it is straight-forward to implement it in your application, without having to dig through many configurations and options, which is what ended-up happening with most of our SimpleForm projects. Anyway, I thought you would appreciate the heads up. :D

[2016-10-12 12:11] edevil commented on #115
I also have these warnings with Elixir 1.3.4, OTP 19.1, Phoenix 1.2.1, dialyxir 0.3.5, gettext 0.11.0:
[code]

[2016-10-13 09:19] whatyouhide commented on #115
I'm gonna try looking into this later in the weekend and I'll leave myself as the assignee so that I remember to do it but it someone wants to tackle this please feel free to go ahead! 😃

[2016-10-21 10:35] wojtekmach opened #126 "Running mix gettext.extract in umbrella updates wrong app"
Hi, I'm moving our project that uses gettext into an umbrella and I noticed that running `mix gettext.extract` from umbrella root updates the wrong app.

In a sample app, I install gettext in app `foo`, but extracting from the umbrella root adds files to the `bar` app: https://github.com/wojtekmach/gettext_umbrella/commit/f43292c2c014ab86b327b369576d03c91091809a. When I first run `cd apps/foo && m

[2016-10-21 10:43] whatyouhide commented on #126
Hey @wojtekmach,

I have to confess that I never used Gettext and umbrella apps together. One idea to solve this can be to have a Gettext-responsible **app** instead of module leaving in an app (for example, `apps/my_project_translations` or something like this). I honestly have no idea how this will behave with `gettext.extract` though.

I don't know why this happens anyways, `gettext.extract` is

[2016-10-21 15:37] josevalim commented on #126
Here is what it happens:

[code]

So I think the solution is that we need to "key" the translations inside the extractor. We could pass an anonymous function to setup that tells it how to retrieve the current app:

    Gettext.Extractor.setup(fn -> Mix.Project.config[:app] end)

And when getting the pot files, we get for that particular project:

    Gettext.Extractor.pot_files(Mix.Project.config[

[2016-10-21 16:12] josevalim commented on #126
I have pushed a fix. However, before merging it, we need to discuss what should happen here: https://github.com/elixir-lang/gettext/commit/3effec2ae176d0644059dd4ea578c2ff17c089ed#diff-56d4faf828fa99ba6ebb2d82b745d2fdR29

Given we now pop the translations, maybe we should the extractor agent permanently? /cc @whatyouhide

[2016-10-21 16:15] whatyouhide commented on #126
@josevalim I'll try and give a look tonight :)

[2016-10-21 21:49] whatyouhide commented on #126
@josevalim as I understand, the extractor now keeps all the translations across the compilation so I guess that yes, not starting/stopping together with `gettext.extract` would be the correct solution.

So when we run recursive Mix tasks it all happens in the same run? It makes sense but I always imagined it as shutting down the VM after the task execution in each app and starting a new for execut

[2016-10-22 09:48] wojtekmach commented on #126
@josevalim @whatyouhide thank you so much for a quick fix for this, I was able to verify it works well for both setups:
- [separate Foo.Gettext and Bar.Gettext](https://github.com/wojtekmach/gettext_umbrella)
- [single Translator.Gettext](https://github.com/wojtekmach/gettext_umbrella/tree/translator)

thanks again! :+1:

[2016-10-22 10:24] #126 closed

[2016-10-22 13:16] whatyouhide opened #128 "Use Logger.error/1 to warn users about slashes in domains"
Right now we use hand-rolled `IO.puts(:stderr, ...)`, but `Logger` would be better.

[2016-10-22 15:01] josevalim commented on #107
Closing in favor of #129.

[2016-10-22 15:01] #107 closed

[2016-10-22 17:13] #128 closed

[2016-11-08 21:29] Toady00 commented on #115
Using the same as @edevil except dialyxir 0.4, the only gettext warning I'm getting is

[code]

[2016-11-10 11:34] manukall opened #131 "Add a way of marking a string for translation"
I would like to propose a feature that is also found in the [ruby gettext gem](https://github.com/ruby-gettext/gettext):

`= N_("Apple") which does not translate, but tells the parser: "Apple" needs translation.`

This would be useful for the `mix gettext.extract` task and add "Apple" as msgid to the po files.

I would especially like to use such a feature in my Ecto validations. Currently there i

[2016-11-10 11:37] josevalim commented on #131
Can you please provide a bit more context? I cannot see how this would be used in the context of Phoenix.

Also Phoenix and Ecto were designed precisely so you don't translate in the schema. The translation happens at another layer which is concerned about translations. Although I am fine with supporting other mechanisms, I just want to point out our preference.

[2016-11-10 11:48] whatyouhide commented on #131
If you write `gettext("Apple")` and didn't have the string `"Apple"` in your .pot files, it will end up there when you `mix gettext.extract`, but it will still translate to `"Apple"` until translations are added. How would this be different?

[2016-11-10 11:51] manukall commented on #131
sure.

my use case is simply adding a custom error message. maybe i just missed how to do it correctly.

So in my example i want to add the custom error message "Some error" to the field "field".

I could do `add_error(changeset, :field, gettext("Some error"))` in the schema now, but that would result in gettext being called twice. Once in the schema and once in the error helper.

I could also do

[2016-11-10 12:03] josevalim commented on #131
Right. The idea is that you would do that and then add it to the .pot file (only once). From .pot it will be moved to .po.

Another idea (which I don't like but I thought I would put it out there anyway) is to still call `add_error(changeset, :field, "some error")` but somewhere in your module body you could do:

    # Notify gettext of the translation
    gettext("Some error")

Assuming though yo

[2016-11-10 12:31] whatyouhide commented on #131
(also want to mention: lookup of translations is ridiculously inexpensive in Gettext - and also side-effect free -, so there may be a good chance that this is not where your app is spending time :) )

[2016-11-10 13:13] manukall commented on #131
@whatyouhide I'm not concerned about performance at all. it just seems wrong to translate twice. especially as the second time, the already translated string would be translated. so i would actually be calling `gettext(gettext("Some error"))`

@josevalim
we're using the `# Notify gettext of the translation` way as a workaraound at the moment. however, i would much prefer to have the string that ne

[2016-11-10 13:16] manukall commented on #131
to also show how it would be used in the example above:
[code]

[2016-11-22 08:07] josevalim commented on #131
I am still not convinced why we should not use:

[code]

[2016-11-22 08:11] whatyouhide commented on #131
@josevalim that was my first thought and I was about to write a message about that, but then I thought about why we have gettext in the first place, and one of the reasons was to have `gettext("Welcome to our website")` instead of `t('home_page.greeting.main')`. `@missing_foo` would bring us closer to that for those translations maybe 😕

[2016-11-22 08:22] manukall commented on #131
in our app we've called the helpers `gettext_extract`, `dgettext_extract` and so on.

@josevalim's last proposed way would mean that the translation of the translation ends up in the template. i agree that that probably never is a problem, as whatever `gettext("missing foo")` returns is unlikely to be a `msgid`. but still it's a bit hacky.

the proper way would be to manually add "missing foo" to

[2016-11-22 09:32] whatyouhide commented on #131
@manukall with `@missing_foo` you only translate once, not twice, but if you call `add_error(changeset, field, gettext("some error"))` you will translate that twice as you mentioned in the beginning and while this may not cause problems because of

it's still deeply wrong as a concept 😄

[2016-11-22 09:35] josevalim commented on #131
Ah, yes. So I think gettext_extract, ngettext_extract and similar would be better.

[2016-11-22 11:26] whatyouhide commented on #131
For the record, Python supports this as well: https://docs.python.org/3/library/gettext.html#deferred-translations. Shall we proceed and do it @josevalim?

[2016-11-22 11:31] josevalim commented on #131
Sounds good!

[2016-11-22 11:35] lexmag commented on #131
Maybe we should also use `defer` suffix or prefix: `gettext_ defer` or `gettext_defer`?
I think it is more connected to what we do with that call, extract is indirect benefit.

[2016-11-24 15:37] whatyouhide opened #132 "Don't indent multiple string literals in msgid/msgid_plural/msgstr"
I think we should stop indenting strings when `msgid`/`msgid_plural`/`msgstr` have multiple strings. That is, right now when dumping we indent as:

[code]

but I think we should start doing

[code]

This is to accommodate what appears to be a convention between PO editors (such as http://transifex.com). It is also show in the [gettext docs](https://www.gnu.org/software/gettext/manual/gettext.html#

[2016-11-24 15:43] josevalim commented on #132
:+1:

[2016-11-24 16:09] whatyouhide opened #133 "Msgid"
From the [gettext docs](https://www.gnu.org/software/gettext/manual/gettext.html#PO-Files):

I can't find any other source on this.

Right now we don't enforce this and this is valid:

[code]

I researched this and `msgfmt -c` doesn't raise a syntax error for this program, so I think we shouldn't either, but I think it's still good to keep this issue in the repository so that we can come back to i

[2016-11-24 16:09] #133 closed

[2016-11-24 16:16] whatyouhide opened #134 "Consider splitting long lines into multiple lines"
I remember we decided not to do this but we could at least consider to split msgids that have newlines in them, that is, dump something like `gettext("foo\nbar")` as

[code]

This seems to be what hip tools do. I am not convinced yet since you can always extract and then do this manually, but still I think it could be good to discuss this and anyways to keep an issue open so I don't forget 😄

[2016-11-24 16:47] whatyouhide commented on #87
@josevalim I'm having second thoughts (months later 😄) on this, not sure why we ignored

your comment, which makes very very much sense to me right now 😕

[2016-11-24 19:10] whatyouhide commented on #132
Closed in 9b47ff0a04b1d551aadcd4f6d561b36d5c3b47f4.

[2016-11-24 19:10] #132 closed

[2016-11-25 14:18] whatyouhide commented on #131
Started implementing this and ran into something that puzzles me: what do we do with plural translations? Do we use English's rule so that:

[code]

?

[2016-11-29 22:48] josevalim commented on #131
@whatyouhide we should return the id on all of them IMO. After all the goal is not to translate but to keep the reference for translations later on.

[2016-11-29 22:48] josevalim commented on #87
:+1:

[2016-11-29 23:20] whatyouhide commented on #131
As it turns out, the name gettext gives to this is `gettext_noop` so my suggestion is to just go with `(d|n|dn)gettext_noop` for this :)

[2016-11-29 23:31] josevalim commented on #131
:+1: for noop.

On Wed, Nov 30, 2016 at 00:20 Andrea Leopardi <notifications@github.com>
wrote:

[2016-11-29 23:34] whatyouhide commented on #87
Nah, it makes sense to drop the region from the locale when pluralizing. Users still have full customizability through `Gettext.Plural` if they want to get into weird stuff. I think many times you would have to implement a `Gettext.Plural` pluralizer that just takes all of the various `en_US`, `en_AU`, and so on to `en` (same for other languages). If there are kinky languages like `pt_BR`, chances

[2016-11-29 23:34] #87 closed

[2016-12-10 12:49] whatyouhide opened #139 "Gettext.with_locale/5 with mfa"
Today, we have `Gettext.with_locale/3` that takes a backend, a locale, and an anonymous function. I was wondering if it could be beneficial to have `Gettext.with_locale/4` that takes a backend, a locale, and a mfa:

[code]

It could reduce the overhead of the closure of the anonymous function, but maybe we could wait for real-world use cases. Anyways, I thought discussing this briefly could be goo

[2016-12-10 12:54] josevalim commented on #139
The overhead is negligible.

[2016-12-10 12:57] whatyouhide commented on #139
Ok, then we shall wait for someone who actually has use cases for this :). Thanks for the feedback @josevalim!

[2016-12-10 12:57] #139 closed

[2016-12-11 15:24] #131 closed

[2016-12-12 11:22] whatyouhide commented on #134
I think we can wait for people to complain about this before acting on it. If you bump on this issue because you're looking into something like this, please let us know! :)

[2016-12-12 11:22] #134 closed

[2016-12-23 20:20] syamilmj opened #141 "Gettext.extract ignores macro parameters"
It seems that `Gettext.extract` would completely ignore any strings that are part of parameters for a macro. I haven't tried using it as `def` parameters, but I assume the result should be the same.

Here's a little contrived example:

[code]

[2016-12-24 13:59] whatyouhide commented on #141
I tried reproducing this with the following complete code sample in a `mix new foo` generated project, in `lib/foo.ex`, with `{:gettext, github: "elixir-lang/master"}` in `mix.exs`:

[code]

and the extraction work. Could you provide a complete example, with instructions on how to set it up, and that uses Gettext master please? :)

[2016-12-24 17:06] syamilmj commented on #141
Yep, I meant `mix gettext.extract`. Sorry for the confusion! :)

Here's another example:

[code]

In this example, `macro/2` works as you'd expected, but `macro2/2` doesn't.

[2016-12-24 18:46] erneestoc opened #142 "Message context should be parsed, even when ignored."
I'm using an online localization tool to translate my application, and msgctxt is causing my build to fail.

I think we should at least parse and ignore msgctxt so that we can use any tool to translate our apps.

I'm using..
https://poeditor.com

[2016-12-24 18:49] whatyouhide commented on #142
That sounds reasonable, we should not fail for external PO files as we should support the PO format in its entirety.

[2016-12-24 20:09] josevalim commented on #141
@syamilmj you almost never use Code.eval_quoted in Elixir, especially not inside macros. You are converting code to string at compile time then you are evaluating the code at runtime. You likely made the code order of magnitudes slower because, instead of allowing Elixir to compile the code, you are converting it to a string that needs to be parsed, validated and evaluated at runtime.

And that's

[2016-12-24 20:09] #141 closed

[2016-12-24 22:58] syamilmj commented on #141
Appreciate that Jose! Learned a new thing today about Elixir today :)

[2016-12-26 05:28] syamilmj commented on #141
Putting this link to recent commit as reference to what Jose said above: https://github.com/elixir-lang/elixir/commit/08fd26984316eb26b0f6d28efe35527eba08a338

[2016-12-26 09:01] #142 closed

[2016-12-26 09:02] whatyouhide commented on #142
Hey @erneestoc, this was implemented in #143. Could you give master a try and let us know how it works? :)

[2017-01-13 15:33] jclem opened #146 "Dialyzer warnings introduced in *gettext_noop macros"
Since 1ae3b0c75beda486ec7ba6dced31350c1b6006ca, Dialyzer emits the following warning when using Gettext:

[code]

This happens in both Elixir 1.3.4 and 1.4 on OTP 19.2 (have not tested other OTPs). A test repo (generated w/Elixir 1.4) can be used [here](https://github.com/jclem/gettext_test) to reproduce this.

To reproduce, compile the project and run dialyzer.

Currently I have `@dialyzer [{:now

[2017-01-26 16:10] xtian commented on #146
I believe this is fixed in e8af08d8f669b8630d16ffb924c487f973c1ceee. Would it be possible to release 0.13.1 with this fix?

[2017-01-26 16:12] whatyouhide commented on #146
I believe it was indeed fixed in that commit. @jclem could you give master a try so that if everything works well I can release 0.13.1? :) 💟

[2017-01-27 13:17] jclem commented on #146
@whatyouhide Yup! Looks fixed. See https://github.com/jclem/gettext_test/tree/gettext-39b0f22a.

[2017-01-30 15:24] whatyouhide commented on #146
I just released v0.13.1. Thanks for the help!

[2017-01-30 15:24] #146 closed

[2017-01-30 18:29] OvermindDL1 opened #147 "Global Gettext context"
As per the discussion at:  https://elixirforum.com/t/gettext-in-a-hex-package/3447/6

And recommended initial-thought implementation via @josevalim:

[2017-01-31 16:54] whatyouhide commented on #147
@josevalim do you mean that all backends should use it by default? Otherwise not sure what you mean with "default backends".

Also, would `Gettext.put_locale/1` change the default locale for all instances in different processes? Or did you mean that `put_locale/1` would still put the locale in the current pdict and then `get_locale(MyApp.Gettext)` would read it out when one for `MyApp.Gettext` is

[2017-01-31 16:57] josevalim commented on #147
This.

[2017-01-31 17:01] whatyouhide commented on #147
Ok, great.

I can work on this in a few days but if someone wants to give it a shot it would consist of implementing `Gettext.put_locale/1` and `Gettext.get_locale/0`, and changing `Gettext.get_locale/1` to account for this new default locale. We should store this new locale under a key like `:gettext_locale` or `:global_gettext_locale` or `:fallback_gettext_locale` or `:default_gettext_locale` in

[2017-01-31 17:04] josevalim commented on #147
Couldn't we use the same structure we use for the other backends except we use `Gettext` as module name?

[2017-01-31 17:07] whatyouhide commented on #147
Yeah I thought about that but it could look a bit mysterious in the pdict, but I guess it's fine considering we do this for all backends. 👍

[2017-02-24 12:22] 0nkery opened #149 "'No case clause matching: 2'"
Hello. I am using Gettext in Phoenix and trying to setup translations for my project.

Here is my translation for `Ecto` errors.
[code]

However, attempt to translate this message crashes Phoenix Endpoint.

Here is (cutted) traceback (ask if full one is needed):
[code]

Tell if it my mistake, Phoenix bug or Gettext, please.

[2017-02-24 13:31] josevalim commented on #149
Can you provide a simple app that reproduces the error? My hunch is that
Russian expects three translation forms and one is missing. But the error
message should definitely be better.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-02-26 06:41] 0nkery commented on #149
Here it is - https://github.com/0nkery/gettext-error-app.

Quick and dirty app. Look at commits to find out my steps to reproduce.

I made test to reproduce this error and removed all the others.

[2017-02-26 20:47] whatyouhide commented on #149
The problem is indeed what José pointed out, you're only defining two pluralization of the string, but Russian wants three and the last one (`2`) is missing there.

@josevalim I already have a fix with a good error message for this, but was wondering if maybe it'd be better to validate the whole PO file since at compile time we know the locale of the PO being compiled to BEAM and the plural module

[2017-02-26 20:50] josevalim commented on #149
@whatyouhide we can check the PO at compile time, yeah. :+1:

[2017-02-26 20:51] josevalim commented on #149
Maybe we should warn at compile time so we get as many warnings as possible and not go through them one by one.

[2017-02-26 20:51] whatyouhide commented on #149
Let's warn at compile time and raise at runtime then 👍

[2017-02-27 02:41] 0nkery commented on #149
Thanks!

[2017-02-27 09:25] whatyouhide commented on #149
That's maybe a good point, but right now we have a policy of ignoring translations that are empty (`""`) when compiling a PO file so when you generate a PO, which will have all empty translations, we will ignore all of them, so you can fix the forms when actually translating the strings. Generating the right ones is a different problem though, so we should open a different issue for that I think :

[2017-02-27 09:38] 0nkery opened #151 "Generation of right plural forms for locale"
`Gettext` generates .po-files for Russian locale with insufficient plural forms (Russian needs three, but only two generated).

[2017-02-27 09:43] 0nkery commented on #149
Thanks for reply. So, it's possible in general and [here](https://github.com/elixir-lang/gettext/issues/151) it is.

[2017-02-27 11:32] whatyouhide commented on #149
Closing in favor of the PR #150.

[2017-02-27 11:32] #149 closed

[2017-02-27 11:33] whatyouhide commented on #147
Closed in #148.

[2017-02-27 11:33] #147 closed

[2017-04-21 17:40] tmbb commented on #114
I' like to second @dannote's request to support disambiguating contexts, as explained [here](http://pology.nedohodnik.net/doc/user/en_US/ch-poformat.html#sec-podisamb). It's true that anything you can do with contexts you can also do using domains, by creating domains with names like "navbar.archive", "body_text.archive" or something like that, as @josevalim suggested.

The problem with this is th

[2017-05-22 10:56] aphillipo opened #157 "Parsing {:safe, html} as interpolations"
Sorry to ask directly on GitHub but I've asked in a few places and not had any response.

[code]

So obviously I created a function to support this in the Gettext module of my phoenix project:

[code]

Clearly the extractor is never going to work with this new function, which I didn't think about before writing it.  Is there a better/correct way to do this; I'm loathe to split up individual string

[2017-05-22 11:23] josevalim commented on #157
Can you assume that the gettext messages are safe? If they are safe, then you can escape all of the arguments before calling gettext, converting them to string, and then assume the overall string is safe.

If gettext cannot assumed to be safe, then you will need a mechanism to retrieve the raw messages and do the interpolation yourself.

[2017-05-22 11:31] aphillipo commented on #157
Hi @josevalim - if you look at what I do in the sgettext function I make sure the message_id is safe:

[code]

As well as any keys that are not passed as {:safe, ""}.  I can definitely do as your saying but I don't trust external services like the ones that might be translating my messages.  Always filter user input and all that.  Just because it's from a more secure source I would still prefer if

[2017-05-22 11:37] aphillipo commented on #157
Edit, actually this is still problematic because the translation could still be anything.

I'll close this and mark the whole string as safe.  Thanks!

[2017-05-22 11:37] #157 closed

[2017-06-01 18:24] josevalim commented on #122
Yes, I meant `#.`. :)

[2017-06-03 17:46] stephenmoloney commented on #122
Unfortunately, It's been impossible for me to get time to tackle this issue.... 😭

[2017-06-30 08:19] whatyouhide commented on #122
This can be closed since extracted comments have been introduced in https://github.com/elixir-lang/gettext/pull/158.

[2017-06-30 08:19] #122 closed

[2017-06-30 08:48] waiting-for-dev commented on #115
In my case:
[code]

With:

- Erlang/OTP 19 [erts-8.2.1]
- Elixir 1.4.1
- Dialyzer 3.0.3

[2017-08-31 08:16] manukall opened #159 "Consider making comments in .po files configurable / optional"
The current behavior of adding all the occurrences as `filename:linenum` comments to the .po files leads to  huge commits every time we add just a single new translation in our app.

Usually we've also changed our app in different places in the meantime and all the line numbers are different now, so basically every comment in every .po file is changed when runnning `mix gettext.extract --merge`.

[2017-08-31 08:45] whatyouhide commented on #159
We use `file:line` because that's what GNU gettext uses. Have you researched if tools (like POEdit) understand reference comments then the format for such comments is not `file:line`?

[2017-08-31 09:05] manukall commented on #159
I have not as I wasn't aware that was an official thing. After reading https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html,

I think maybe it makes more sense to just allow turning those reference comments off. Above document states "All comments, of either kind, are optional".

[2017-09-05 15:10] whatyouhide commented on #159
Making reference comments optional might be a viable way of solving the problem, but it does introduce a bit of complexity in how Gettext works. @josevalim thoughts?

[2017-09-06 18:46] josevalim commented on #159
Sounds good, yes.

[2017-09-07 08:18] whatyouhide commented on #159
@manukall are you willing to work on a PR for this? :)

[2017-09-07 08:31] manukall commented on #159
@whatyouhide i've got a pretty full schedule for the next weeks, so anything complicated during that time isn't realistic. if that's a smaller change or if it has time until later, i'd absolutely be willing, though.

do you have an idea about the implementation, yet? i guess simply checking `Application.get_config(...)` in `Gettext.PO.dump_references/1` wouldn't be good enough, right? ;-)

[2017-09-07 08:56] whatyouhide commented on #159
It wouldn't yeah. We moved all Gettext configuration to `mix.exs` under the `:gettext` key so we would need to store this information there and pass that around to the right places. I can work on it, no worries.

[2017-09-28 16:34] wojtekmach opened #160 "** (CompileError) Elixir.Translator.Gettext: function lgettext/4+60:"
Hello, we think we've found a bug on Erlang 20.1. Could you help us reporting this bug upstream to Erlang? Here's a repo to reproduce it: https://github.com/wojtekmach/erlang_bug

Here's the error:

[code]

[code]

[2017-09-28 17:08] josevalim commented on #160
Cool. Installing Erlang 21.1. Also cc @michalmuskala.

[2017-09-28 17:34] josevalim commented on #160
here is a minimal erlang file that reproduces it:

[code]

do you want to submit a report or should I?

[2017-09-28 18:31] wojtekmach commented on #160
Feel free to submit it, otherwise I will do it tomorrow; Thx for minimal
repro!
W dniu czw., 28.09.2017 o 19:34 José Valim <notifications@github.com>
napisał(a):

[2017-09-28 18:40] josevalim commented on #160
Here we go: https://bugs.erlang.org/browse/ERL-490

Thanks for the report!  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2017-09-28 18:40] #160 closed

[2017-10-06 12:55] whatyouhide commented on #159
Closing in favour of #161.

[2017-10-06 12:55] #159 closed

[2017-10-06 12:56] whatyouhide commented on #115
Hey folks, how are these warnings looking with OTP 20?

[2017-10-06 14:01] waiting-for-dev commented on #115
Mine is the same with:

- Erlang/OTP 20 [erts-9.0.2]
- Elixir 1.5.1
- Gettext 0.13.1

[2017-10-08 21:31] whatyouhide opened #162 "Translations with no references are considered as inputted by the user"
Since we added the option to output files without references in #161, we need to find a new way to mark translations that are "autogenerated" versus ones that are inserted manually by the user.

\cc @josevalim if you have ideas, shoot :)

[2017-10-12 14:46] buelsenfrucht opened #163 "Starting phoenix server crashes over gettext"
OS: MacOS Hight Sierra
Erlang: I tried 20.1, 20.0
Elixir: I tried 1.5.1 and 1.5.2

After updating to macOS High Sierra and installing Erlang 20.1 with asdf, I tried to recompile and start my application with `mix phx.server`, but it crashes with message:

[code]

I tried different combination of Erlang and Elixir, but result was always the same.

Not sure if this is a gettext, Elixir or Erlang iss

[2017-10-12 15:05] josevalim commented on #163
It should work on Erlang 20.0, this is a bug on Erlang 20.1 which has already been reported upstream.

[2017-10-12 15:05] #163 closed

[2017-10-12 15:43] buelsenfrucht commented on #163
You are right, thanks for your help!
Unfortunately 20.0 isn't working on our project on High Sierra because of the BoringSSL-Bug that is fixed by updating erlang to 20.1...

[2017-10-12 17:02] josevalim commented on #162
@whatyouhide folks that are disabling the reference comments can figure it out. :P

[2017-10-12 17:20] josevalim commented on #162
Oops, I didn't meant to close it though. :)

[2017-11-06 20:09] wojtekmach opened #165 "Translations are randomly dissapearing in an umbrella"
This is an issue when running `mix gettext.extract --merge` from umbrella root. Running it from child apps is fine.
Repo to reproduce, see README: https://github.com/wojtekmach/gettext_umbrella_bug

[2017-11-14 02:32] #162 closed

[2017-11-27 06:42] redink opened #168 "bump new version ?"
for `0.13.1` there are some warning during compilation:

[code]

the branch master have fixed them, so please bump one new version ?

[2017-12-10 10:35] whatyouhide commented on #168
I'll release a new version as soon as I can, closing this issue (as it's not an issue :P) in the meantime. Thanks @redink! 💟

[2017-12-10 10:35] #168 closed

[2017-12-10 10:42] whatyouhide commented on #168
Release v0.14.0.

[2017-12-10 10:47] redink commented on #168
Thanks very much.

[2017-12-14 13:42] wojtekmach commented on #165
I no longer can reproduce this on v0.14, thanks!

[2017-12-14 13:42] #165 closed

[2018-01-13 18:51] mathematix opened #169 "gettext not compatible with elixir 1.5.3"
warning: function Kernel.ParallelCompiler.async/1 is undefined or private
  lib/gettext/compiler.ex:281

seems elixir 1.5.3 removed this function

[2018-01-13 18:59] josevalim commented on #169
You can only set the `:one_module_per_locale` option to true if you are using Elixir v1.6 (which right now is out only as a release candidate.

[2018-01-13 18:59] #169 closed

[2018-01-14 12:04] ebengt opened #170 "Warning when compiling"
Greetings,

I cloned gettext today (20180114) and 'mix compile'd it:
Compiling 1 file (.erl)
Compiling 20 files (.ex)
warning: function Kernel.ParallelCompiler.async/1 is undefined or private
  lib/gettext/compiler.ex:299

$ elixirc --version
Erlang/OTP 19 [erts-8.2] [source-fbd2db2] [64-bit] [smp:4:4] [async-threads:10] [kernel-poll:false]

Elixir 1.5.3

[2018-01-14 20:18] #170 closed

[2018-01-22 10:23] manukall opened #171 "elixir-format comment is removed when mix gettext.extract --merge runs again"
as far as i understand, `elixir-format` is used to indicate that a string was programmatically added to the po/pot files. however, when `mix gettext.extract --merge` is run again, those comments are removed, which i assume is not intended.

we're using the `write_reference_comments: false` flag, in case that makes a difference.

[2018-02-09 20:25] mvalitov opened #173 "translation does not work"
probably I'm doing something wrong, but I can not understand what.
there is an application phx 1.3, the structure of the directory `priv/gettext` looks like this:
[code]
in `priv/gettext/en/LC_MESSAGES/default.po` is msgid:
[code]
in `priv/gettext/ru/LC_MESSAGES/default.po` is msgid:
[code]
in `lib/myapp_web/views/v1/promocode_view.ex` I'm trying to translate:
[code]
but the translation is always

[2018-02-09 20:44] josevalim commented on #173
You need to use `ngettext` when you are translating a plural message.

[2018-02-09 20:44] #173 closed

[2018-02-13 05:29] whatyouhide commented on #171
Hey @manukall, could you provide a simple sample application with steps to reproduce this? It would be super helpful in debugging it and pushing a fix. :)

[2018-02-13 07:55] manukall commented on #171
@whatyouhide sure: https://github.com/manukall/gettext_no_comments

there are gettext strings in `lib/gettext_no_comments.ex`.

to reproduce, uncomment `gettext("foo")` and run `mix gettext.extract --merge` again.

the result is, that the `#, elixir-format` comment is removed from the `msgid "world"` line in `priv/gettext/default.pot`.
when you run the mix task again, it'll get removed from the ne

[2018-02-14 04:09] #171 closed

[2018-02-14 04:09] whatyouhide commented on #171
It definitely helped, thanks @manukall!

[2018-02-14 13:07] manukall commented on #171
Thanks ❤️

[2018-02-16 17:18] #151 closed

[2018-02-19 19:22] whatyouhide commented on #115
I tried reproducing this with current stuff by:

1. Creating a new project with `mix phx.new hello_world` on Elixir 1.6.1 and Erlang 20.1
1. Changing the Gettext dependency to `{:gettext, github: "elixir-lang/gettext"}`
1. Adding `{:dialyxir, ">= 0.0.0"}` as a dependency and adding the config `dialyzer: [plt_add_deps: :transitive]`
1. Running `mix dialyzer`

but I get no dialyzer warnings with thi

[2018-02-19 19:22] #115 closed

[2018-04-12 20:20] smpallen99 opened #176 "Argument error with custom macro"
I created a custom sigil macro (see below) which has been working well on 0.13.1. Hower, in 0.15, I'm getting an argument error. I use this macro in 1000's of locations in several projects, so I'd really like to keep using it in newer versions of gettext.

My projects Gettext module:

[code]

Usage:

[code]

The error:

[code]

After rolling back to 0.13.1, everything works fine.

[code]

I suspec

[2018-04-12 20:42] josevalim commented on #176
It will probably work if you change the macro to:

[code]

The reason is that `gettext` is expecting a literal string but the sigil receives them in the bit syntax. Extracting it out solves it.

Btw, this is a very nice use case of sigils.

We may want to fix this in gettext too but I am unsure. Since it is the first time we hear about it, I would wait for more scenarios.

[2018-04-13 08:57] whatyouhide commented on #176
@josevalim Gettext used to cover this case IIRC because exactly of sigils, where the binary was wrapped in `:<<>>` even if it was a single binary with no interpolation. I remember you fixed this in Elixir at some point so I stopped handling this in Gettext itself. Unsure why the sigil is behaving this way :\

[2018-04-13 10:51] josevalim commented on #176
We fixed our sigils but we may have other ones. So I think we need to do
that back?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-13 11:24] michalmuskala commented on #176
Wasn't it a reverse situation like calling `gettext(~S"foo")` instead of wrapping gettext in a sigil?

[2018-04-13 11:46] josevalim commented on #176
Yes, exactly. We made sure that the sigil expanded to a string though,
which cause the ~g sigil implementation to break.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-14 12:36] ZombieHarvester opened #177 "Public API for lgettext? To know what you get back: translation or msgid"
There is a use case for dynamic translations. And a use case for static translations which cannot be extracted by `gettext.extract` (ecto validations for example)

In both cases you have to manage `.pot` entries manually which is error prone, as its is easy to miss a value to translate.

`gettext` returns either translation or msgid. There is no way for you to know if the value was translated. (I

[2018-04-17 07:35] whatyouhide commented on #176
Oh, the sigil still gets `{:<<>>, _, [text]}`, right. I think we should revert the behaviour and handle `{:<<>>, _, [text]}` then I guess. @josevalim would it make sense to have the sigil take the direct binary as well though, as another change to Elixir?

[2018-04-17 07:48] josevalim commented on #176
No because it would be backwards incompatible. FWIW, we keep sigils like that because sigils may have interpolations and we want to clearly detect those.

[2018-04-17 07:50] whatyouhide commented on #176
@josevalim oh yeah I know we do it for interpolation, I was wondering if we could expand the non-interpolation case so that `sigil_g` receives `"foo"` when called as `~g(foo)` instead of receiving `{:<<>>, _, ["foo"]}`. But I suspected it might be backwards incompat anyways. In any case, Gettext needs to be reverted here.

[2018-04-17 08:06] #176 closed

[2018-04-23 21:28] amatalai opened #178 "Translations are dissapearing in umbrella"
When you run `mix gettext.extract` from umbrella root not every module is forced to recompile, which causes translations to disappear.

Example repo: https://github.com/amatalai/gettext_umbrella_issue

Probably somehow related to #165

[2018-04-24 10:26] amatalai commented on #178
My current workaround: https://gist.github.com/amatalai/1877f48a195f578682cfd20e66c6544e

[2018-04-26 06:50] gguerrero opened #179 "Pluralization custom forms on merger"
Some web translation providers still using `-` for country locales keys, e.g `es-ES` or `pt-BR`.
For pluralization, gettext uses underscore form with the following [doc explanation](https://hexdocs.pm/gettext/Gettext.Plural.html#module-language-and-country.):

With that says, I was trying to define a custom pluralizer for solving the problem like this:
[code]

This solved the problem in the app co

[2018-04-26 19:25] whatyouhide commented on #179
We cannot read the custom pluralizer when merging because we don't know which backend the files that we're merging belong to (and the pluralizer is an option given to each Gettext backend). This is indeed a bug but the solution is to just default to using two plural forms for all unknown locales.

Maybe we should warn for this particular case @josevalim?

In any case @gguerrero, are you interested

[2018-04-27 23:50] pachopepe opened #180 "Setting write_reference_comments not working"
I configure gettext on mix.exs
[code]
but gettext continue generating comments

Also, I tried setting it in the `config.exs` with no success.

[2018-04-28 04:14] josevalim commented on #180
@pachopepe which gettext version are you using?

[2018-07-19 02:15] smpallen99 commented on #176
Just following up to say that @josevalim trick with the AST works like a charm. Thanks!!

[2018-07-31 11:32] josevalim commented on #177
Maybe a better idea is to add `handle_missing_translation` to the backend that receives all of the information and decides what to return.

Thoughts @whatyouhide?

[2018-07-31 11:39] josevalim commented on #179
I would also recommend maybe keeping different locales internally, one that you pass to gettext and another used by your app. There is no reason to couple the two.

In any case, if someone is still being bitten by this and would like us to get rid of the error, please get in touch.

[2018-07-31 11:39] #179 closed

[2018-07-31 11:39] josevalim commented on #180
Closing due to lack of information, please let us know if this is still relevant.

[2018-07-31 11:39] #180 closed

[2018-07-31 12:02] josevalim commented on #178
Thanks @amatalai!

Indeed gettext does not work across dependencies. One possibly solution to this problem is for us to add an option that specifies exactly which apps to run to extract the dependencies from. Although your work around is also fine for now (albeit slightly inefficient).

[2018-08-01 14:50] soteras opened #182 "Broke css in hexdocs"
Access https://hexdocs.pm/gettext/Gettext.html and:

<img width="433" alt="screen shot 2018-08-01 at 11 48 47" src="https://user-images.githubusercontent.com/7086520/43529185-170d3b0e-9581-11e8-99ba-b1251287325d.png">

[2018-08-01 14:53] josevalim commented on #182
New version pushed.

[2018-08-01 14:53] #182 closed

[2018-08-02 07:39] whatyouhide commented on #177
We already have `handle_missing_bindings` so I think it would make sense. We already have `catch_all/3` and `catch_all_n/5` helpers, so it's just a matter of introducing `handle_missing_translation` to the backend and default to what `catch_all_*` do today. I'll try to work on this tonight, but if you want to go ahead and make a PR @ZombieHarvester please do! 💟

[2018-08-02 08:01] whatyouhide commented on #177
@josevalim should we go with `handle_missing_translation(locale, domain, msgid, bindings)` and `handle_missing_translation(locale, domain, msgid, msgid_plural, n, bindings)`, or go with an exception like we have for `handle_missing_bindings`? In the exception we would still need a way to tell translations from plural translations.

[2018-08-02 09:27] josevalim commented on #177
@whatyouhide good question. I think we can keep the building of the exception reasonably fast, so I would with that too.

[2018-08-06 11:29] zmcNotafraid opened #183 "mix gettext.extract --merge not work"
I upgrade version to 0.15. And I run
[code]
But it only modify .pot file.And no .po file is been changed.
When I run
[code]
It's ok

[2018-08-07 07:41] LostKobrakai opened #184 "Warning when there's a : in a filename"
I just noticed `:` in filenames break gettext. I'm not sure if that can be supported, but at least gettext should issue a warning if it sees such a file.

[2018-08-07 07:47] josevalim commented on #184
@LostKobrakai thanks. In the filename of what though? .po? .pot? What is your gettext version?

[2018-08-07 07:48] josevalim commented on #184
Also, which error are you getting? can you post the full message with stacktrace?

[2018-08-07 07:52] LostKobrakai commented on #184
It was the filename of the file holding the translation.

Error was:
[code]
when doing `mix gettext.merge …`

[2018-08-07 07:53] LostKobrakai commented on #184
Version is 0.15.0

[2018-08-20 12:35] #184 closed

[2018-08-21 09:04] #177 closed

[2018-08-21 09:08] whatyouhide commented on #183
Hey @zmcNotafraid, looking at the Gettext code it seems that should work. Could you either upload a minimal reproducing example somewhere, or show us the directory tree for your project (or parts of it)? We need a bit more info to try and debug this :). Thanks for reporting! 💟

[2018-08-21 20:45] abitdodgy commented on #183
I can reproduce this. Running `mix gettext.extract --merge` does not modify the .po file.

[2018-08-21 20:46] abitdodgy commented on #183
May this is a concurrency issue?

[2018-08-22 03:32] zmcNotafraid commented on #183
My directory tree is lib/priv/gettext/. When I run ```mix gettext.extract --merge```
The terminal only show ```Extracted priv/gettext/```, but no merge info.
And I read the code that find lib/mix/tasks/gettext.extract.ex has been modified.
So I guess maybe  async stream cause the issue.

[2018-08-23 13:56] #183 closed

[2018-08-23 14:11] abitdodgy opened #188 "[question] Where do we put dynamic translations?"
I have dynamic translations in some places (like a page sorter, where the params are used to show the current sort options). The docs advise us to use Gettext functions for such cases. By using `mix gettext.extract --merge`, however, dynamic translations are removed from `.pot` and `.po` files.

In other words, if you don't use macros, any translations manually added to `.po` and `.pot` files are

[2018-08-23 17:47] whatyouhide commented on #188
Also, I believe that from the next released version of Gettext we will use a `elixir-format` tag to decide if Gettext added the translations, so this issue can likely be closed by just releasing the new version :P

[2018-08-23 20:28] abitdodgy commented on #188
@whatyouhide I'll give it a shot and let you know. @josevalim thanks for the suggestion.

[2018-08-30 15:59] sfusato opened #189 "Documentation site: search not working"
1. The search feature is not working:
[https://hexdocs.pm/gettext/search.html?q=gettext](https://hexdocs.pm/gettext/search.html?q=gettext) returns nothing, for example.

2. The styling also seems  a bit off when compared to Elixir/Phoenix/Ecto documentations (screenshot attached: search field, toggle sidebar)
![gettext](https://user-images.githubusercontent.com/19363153/44863771-b52cb000-ac86-11e8

[2018-08-30 16:02] josevalim commented on #189
@whatyouhide shall we release a new version and update to ex_doc 0.19.0 in the process?

[2018-08-31 20:51] whatyouhide commented on #189
@josevalim on it.

[2018-08-31 20:56] whatyouhide commented on #189
Done! https://hex.pm/packages/gettext/0.16.0

[2018-08-31 20:56] #189 closed

[2018-08-31 20:58] whatyouhide commented on #188
@abitdodgy we just released a new version of Gettext. Please update as it should fix your problem. I'll go ahead and close this issue. Please feel free to comment here or reopen it if the latest version is still causing problems. Thanks for reporting!

[2018-08-31 20:58] #188 closed

[2018-09-26 10:54] nicolasgarnil commented on #180
Not working to me as well.

Version: `0.16.0`.

[2018-09-26 11:15] josevalim commented on #180
@nicolasgarnil which gettext version are you using? What does "not working" mean? Which behaviour are you seeing and what do you expect? Please open a new issue and try to provide as much information as you can. If you have a way to reproduce the problem, even better, as that will speed up the fixing/resolution process.

[2018-09-26 12:07] nicolasgarnil opened #190 "Comments still being added to POT files despite "write_reference_comments" is set to false"
## Problem

Running `mix gettext.extract` with `write_reference_comments: false` is adding the comments above the translations. Seems like the option is not being taken into account.

In my project I have:

[code]

## How to Reproduce

1. `git clone git@github.com:nicolasgarnil/gettext_test.git`
2. `mix deps.get`
3. `mix gettext.extract`
4. `cat priv/gettext/foo.pot`

You should expect to see:

[c

[2018-09-26 12:09] nicolasgarnil commented on #180
@josevalim Done, please see https://github.com/elixir-lang/gettext/issues/190.

I am willing to fix it if you point me on the right direction.

[2018-09-26 12:18] nicolasgarnil commented on #190
I forked the library and it works as expected against master, but not in `0.13.1`.

[2018-09-26 12:21] josevalim commented on #190
Do you mean it is working fine on master?

[2018-11-12 23:05] Cochonours opened #192 "Default locale is wrong, and locale is not used"
I am testing the water with phoenix (1.4) / gettext (0.16.0) and I want my web page to specify the language as an attribute on the html tag. So I write this :
`<html lang="<%= Gettext.get_locale() %>">`

First problem: it appears that get_locale() returns "en" even though my browser asks for "fr" (my Accept-Language header is : "fr,en-US;q=0.7,en;q=0.3").

Second problem: even though it says "en",

[2018-11-13 01:04] josevalim commented on #192
Can you please provide a sample app that reproduces this? It is weird that
calling put_locale with the current locale is changing things.

Also, keep in mind Phoenix does not automatically set the locale based on
the header. That’s up to you to implement although most people suggest to
not do that generally. It is best if the locale is in the URL and you read
the header only on first access.
--

*

[2018-11-13 08:38] Cochonours commented on #192
Ok for the first problem then.. I assumed it would as guessing the locale from the header is not uncommon at all. I am going to implement something that uses the URL indeed, but when someone comes to the root of the website, there is no better way than using his Accept-Language info to serve the page.

Back to the real bug, how would you like me to send the app? Zip it all and send (I do not use g

[2018-11-13 08:55] josevalim commented on #192
Agreed. Note it is also common to add a cookie if the user ever explicitly pick another language. So the fallback is usually `url || cookie || header`.

Oh, I see. the reason why the erreor is happening is because you are using `Gettext.get_locale`, which sets the global gettext locale, but you have configured the locale on a specific backend, so you should do `Gettext.get_locale(TotoWeb.Gettext)`

[2018-11-13 09:04] Cochonours commented on #192
Oh, that's it!

What would you recommend, setting it globally or keeping it local?

Thanks a lot

[2018-11-13 09:04] #192 closed

[2018-11-13 09:11] josevalim commented on #192
Actually, my feedback above was wrong. If you want global, you should set it as:

    config :gettext, default_locale: "fr"

I am currently considering deprecating the local configuration one, so I would go with the global one.

[2018-11-28 12:42] LostKobrakai opened #193 "Report changes on merge"
I'm wondering if it would be possible to report changes when merging new translations into .po files. My specific problem is that sometimes merge twice or more in succession without going through all files and if I understand that correctly a merge will mark as fuzzy match translations only once as to be looked at and a second merge would remove that marking. Having something like

[code]

Would b

[2018-11-30 18:23] jfayad opened #194 "dgettext crashes on 0.16.1"
With the 0.16.1 release the following behaviour is occuring:

[code]

downgrading to 0.16.0 solves the issue.

Running it from an app shows that the error originates from this line
`(gettext) lib/gettext.ex:675: Gettext.dgettext/4`

[2018-11-30 18:55] josevalim commented on #194
Can you please remove `_build` and let us know if the issue persists? Thanks.

[2018-11-30 21:56] jfayad commented on #194
Hello @josevalim indeed, removing the _build directory and recompiling the project from scratch with the latest version fixed it. Thanks for the hint.

wondering why are the build files interfering with new versions of packages and producing such inconsistent results ?

[2018-11-30 21:56] #194 closed

[2018-12-01 07:38] josevalim commented on #194
@jfayad Mix was supposed to pick it up. If you can consistently reproduce this, then please let me know how and I would love to investigate it.

[2019-01-18 00:12] tmbb commented on #89
NimbleParsec is oretty sweet for writing `.po` files amd by deafult it returns some pretty readable errors. I assume errors can be made even better with some careful grammar design.

I’m writing a `.po` file parser for my experimental translation library. If you’re interested, I can send you a link to the repo and even adapt the parser to work with Gettext.

[2019-01-18 08:08] josevalim commented on #89
Oh, good call on Nimble for this. Please send us a link to the repo and we can continue the discussion from there.

[2019-01-18 20:17] tmbb commented on #89
The parser is here: https://github.com/tmbb/mezzofanti/blob/master/lib/mezzofanti/gettext/gettext_parser.ex

The "grammar" is probably not complete. For example, it doesn't allow multiple strings as a way to represent multiline strings, and escaped characters inside strings aren't recognized correctly yet. It also assumes that the string to be translated appears only in a single location in the so

[2019-01-18 20:54] josevalim commented on #89
Thanks @tmbb for the rationale. I may be missing something... but how is it different from `gettext("foo bar")` and `mix gettext.extract`? The mechanisms are very similar in that they rely on code execution (instead of static analysis).

[2019-01-19 01:22] tmbb commented on #89
Imagine have an application `my_app`, which depends on another application `my_dependency`.

I want to enable something like this, which gettext already allows:

[code]

The big difference is that when you run `mezzofanti.extract` inside `my_app`'s mix project, it will extract not only the translations in `my_app` (which `gettext` already does), but also the translations in `my_dependency` (which

[2019-01-19 08:04] josevalim commented on #89
I see thanks!

So gettext can extract the translations to the dependency `priv` directory. Wouldn't it be simpler than to have a way to merge the dependency `pot` with the current project's `pot`?

[2019-01-19 09:46] tmbb commented on #89
Gettext *would be able to* extract  the translations in the dependency into the main app's `priv` directory. I think that's what you mean.

I assume yuo mean *then* instead of *than* (otherwise I don't understand the question). Maybe, yeah. But that would require the package owner to generate and distribute the `.pot` when publishing the package. That's a manul step that can be forgotten, I guess.

[2019-01-19 09:50] tmbb commented on #89
The other reason I'm writing my own library is that I'd like to use the ICU message format instead of gettext's message format. I also don't like the `gettext`, `dgettext`, `ngettext` functions ver much and I'd prefer to have only a single `translate` macro for all cases, but that's just a syntax preference.

[2019-01-19 10:20] josevalim commented on #89
I actually meant what I said but what you propose could work too!

I am thinking we can do it while we compile the project locally. :)

[2019-02-19 09:32] florish opened #196 "Translations get overwritten with multiple Phoenix endpoints in a single application"
I’m having some trouble with Gettext in combination with an Elixir app with multiple Phoenix endpoints.

All `msgid`s found in the first namespace (say: `AaaWeb`) seem to be overwritten in case any `msgid` is found in the second namespace (say: `BbbWeb`).

Example with .pot file output:

I have two templates with a `gettext/1` marker:

1. lib/aaa_web/templates/foo/show.html.eex
[code]

2.  lib/bbb

[2019-02-19 09:38] josevalim commented on #196
@florish are you running those commands from the umbrella root? Or inside each individual app? Can you also provide a simple application that reproduces this issue? Thanks!

[2019-02-19 09:49] florish commented on #196
@josevalim Quick reply: it's not an umbrella app, just a normal Phoenix 1.4 app as created with `phx.new`. The app does have multiple Phoenix endpoints configured, each with their own `_web` directory structure containing controllers, views, templates, etc.

I'll create a simple example application for reproduction.

[2019-02-19 10:16] florish commented on #196
@josevalim Here's an example app demonstrating the issue:

https://github.com/florish/elixir-gettext-example-project

The last commit contains the result of running `mix gettext.extract --merge` after adding a second `Endpoint`.

Hope this helps! Let me know if you need any additional information.

[2019-02-20 10:00] florish commented on #196
@josevalim By coincidence, one of my co-workers discovered were the error was coming from.

On adding a second Phoenix endpoint, we simply copied over files from the first endpoint (in the example: files in the `aaa_web` folder) and renamed the top-level module. As part of that, we also duplicated the `Gettext` module:

[code]

Both `Gettext` modules refer to the same `:otp_app`, as there only is

[2019-02-20 10:02] josevalim commented on #196
Thanks for the follow up. I agree we can probably detect if there is more than one endpoint per app when running those tasks and warn that only of those will prevail.

[2019-03-10 11:48] zentetsukenz opened #198 "Documentation site for 0.16.1 seems to be broken"
I see #189 fixed 0.16.0 release. However, the same issue with CSS and search comes back in version 0.16.1

<img width="1264" alt="Screen Shot 2019-03-10 at 6 39 57 PM" src="https://user-images.githubusercontent.com/2451278/54084503-0ddeb300-4364-11e9-830f-1be0a2f4cdfc.png">

Did some quick look but haven't found anything odd [0.16.0..0.16.1 diff](https://github.com/elixir-lang/gettext/compare/v0.1

[2019-03-10 12:48] josevalim commented on #198
Update ExDoc and repushed.

[2019-03-10 12:48] #198 closed

[2019-05-12 12:27] kuroda commented on #115
@whatyouhide

I confirmed that I did not get warnings in the way you described, but I realized that I would get a warning when I actually put in the translation data.

Here is how to reproduce the problem.

After creating a phoenix `hello_world` application and installing dialyxir, modify the `priv/gettext/en/LC_MESSAGES/errors.po` as follows:

[code]

Then, run `mix dialyzer`. You will see the fo

[2019-05-31 20:40] omaciel opened #199 "Feature Request: Return multiple po_source_line entries for duplicated msgids"
While I'm aware of how multiple msgids are currently handled (#22), it seems that this is common usage for GNOME packages:

* The word `"General"` for the [Epiphany](https://gitlab.gnome.org/GNOME/epiphany/blob/master/po/pt_BR.po) application

[code]

* The word `Default` for [gnome-terminal](https://gitlab.gnome.org/GNOME/gnome-terminal/blob/master/po/pt_BR.po)

[code]

It seems to me that whenev

[2019-05-31 20:43] josevalim commented on #199
Yeah, we should consider the context when detecting duplicates. A PR is
welcome!
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-05-31 20:46] omaciel commented on #199
Thanks for the quick response @josevalim I am just getting started with Elixir, so it may take a little bit for me to be able to contribute, but I shall try for sure :)

[2019-06-01 06:17] whatyouhide commented on #199
This is not a teeny tiny change however, because right now we use the `msgid` or `msgid`/`msgid_plural` as the ID of a translation and we don't even store the `msgctxt` anywhere. The change would mean storing the context with translations and using it as part of the translation key as well.

[2019-06-04 01:02] joeystl434 commented on #196
I have a similar problem but within an umbrella. Is it possible to centralize multiple app translations into a single translation app? I tried many things but I haven't managed to get more than one of the apps' translations.

[2019-06-04 17:54] jstlroot commented on #126
@wojtekmach I would love to see how you implemented a single Translator.Gettext as I am unable to extract translations from many apps to a single translator app in an umbrella.

Your `single Translator.Gettext` link is broken.

Cheers!

[2019-06-04 18:32] wojtekmach commented on #126
Hey, here’s how I approached it:
- create apps/translator which stored all translation .po files
- add `{:translator, in_umbrella: true}` dep in each app that needed it
- add `compilers: [:gettext | Mix.compilers()]` in each app that needed it

Then, run `mix gettext.extract` etc from umbrella root.

Hope it helps!

[2019-06-04 22:53] jstlroot commented on #178
You, sir, are my hero. Thank you so much. <3

[2019-06-05 00:15] jstlroot commented on #126
Thank you, it works!

I then ran into this issue: https://github.com/elixir-lang/gettext/issues/178 but @amatalai 's idea worked well: https://gist.github.com/amatalai/1877f48a195f578682cfd20e66c6544e

Cheers!

[2019-06-05 08:45] #196 closed

[2019-06-13 10:33] strzibny opened #200 "Using gettext for external files?"
Hello all,

I was thinking of using gettext to translate an external file (a template, regular file with `gettext()` calls for example). Is this possible?

The API I have in mind:
[code]
My use-case is an API documentation and I was thinking to use the gettext and regular gettext Phoenix setup to do so (implemented as Mix task).

[2019-06-13 10:49] josevalim commented on #200
Is the external file a regular Elixir file?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-06-13 12:38] strzibny commented on #200
No, it's a `.apib` blueprint (format to describe APIs), but I was thinking making it a `.eex` template from which I would generate more blueprint files -- one per each supported language.

Does it make sense José?

[2019-06-13 12:55] josevalim commented on #200
Gettext works by executing Elixir code. So as long as you run or embed the
templates into source files while your Elixir code is compiled, gettext
will be able to pick it up.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-06-13 13:39] josevalim commented on #200
Closing per the above. ^

[2019-06-13 13:39] #200 closed

[2019-06-13 14:15] strzibny commented on #200
Yes, I realize it's more about the EEx context probably than gettext question. I have the following task:

[code]
Template:
[code]
It probably cannot find the definitions:
[code]

[2019-06-13 14:35] josevalim commented on #200
You can't pass a macro as a function, because then you are hiding its actual arguments. You need to `<% import Gettext %>` at the top of your template.

[2019-06-24 09:11] #193 closed

[2019-06-28 13:53] evadne opened #202 "No v0.17.0 tag?"
Hello

Was there a tag for `v0.17.0`?

At the moment, documentation pages that link to sources are broken, for example: https://hexdocs.pm/gettext/Gettext.html#dgettext/3 links to https://github.com/elixir-lang/gettext/blob/v0.17.0/lib/gettext.ex#L1 which implicitly requires presence of the `v0.17.0` tag.

Thanks.

[2019-06-28 15:00] josevalim commented on #202
Fixed, thanks!

[2019-06-28 15:00] #202 closed

[2019-07-01 21:39] hauleth opened #205 "Dialyzer errors on `Gettext.PO.parse_string`"
Currently Dialyzer states that:

[code]

will always fail, as this function always return `{:error, non_neg(), binary()}`.

[2019-07-02 05:25] josevalim commented on #205
Thanks for the report. We don't use dialyzer ourselves, so a PR is welcome!

[2019-07-02 09:35] hauleth commented on #205
@josevalim you mean PR that fix the issue or that will run Dialyzer on CI?

[2019-07-02 10:20] josevalim commented on #205
That fixes the issue, thanks!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-08-09 03:51] evadne opened #206 "Code Generation Question"
I have a problem with strings that interpolate `%{count}` _and_ have plural forms, for example, with this string:

[code]

And a simple reproduction:

[code]

Then Gettext produces a function which looks like this (via compile_translation and compile_interpolation):

[code]

Which Dialyzer does not like:

[code]

I am not sure whether this is worth fixing though.

[2019-08-09 07:04] josevalim commented on #206
Hi @evadne! 👋

One easy option is to mark the code as `generated: true`, so dialyzer doesn't emit warnings for said chunk. But we can also avoid emitting the clause too. Do you have a small app that reproduces the issue that can make it easy for us to check if we fixed the issue or not?

[2019-08-09 16:43] MeikelLP commented on #199
Hey, I'm coming from an issue in Accent (see https://github.com/mirego/accent/issues/113).
I'm trying to translate Unity3D's translation files (.po files) with Accent (which uses this lib). Unity3D does use duplicate keys and they have different meaning depending on the context (code reference).

Is there any ETA?

[2019-08-09 16:44] evadne commented on #206
Hello @josevalim 👋

Yes, indeed I have such an app. https://github.com/evadne/elixir-lang-gettext-206

I shall also try the `generated: true` option as you suggested. Thank you very much!

[2019-08-09 17:01] josevalim commented on #199
I believe the bulk of the work was already done in the linked PR above, so
if someone wants to send a PR to finish the work it will be appreciated.
Other than that there isn’t an ETA for it to happen.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-08-12 15:13] #199 closed

[2019-08-12 15:13] josevalim commented on #205
Ping. :D

[2019-08-12 15:14] hauleth commented on #205
Hell, I have forgotten about it. I will try to write something.

[2019-08-13 13:05] whatyouhide opened #210 "Keeping or deleting obsolete translations"
When we are merging an old PO file with a new POT file, we remove all translations in the old PO that don't match anything in the new POT. However, the `msgmerge` tool actually marks them as obsolete:

[code]

Should we do the same, or are we good with removing them?

\cc @josevalim

[2019-08-13 13:08] josevalim commented on #210
@whatyouhide sounds good to me!

[2019-08-14 22:05] evadne opened #211 "The --no-fuzzy part of mix gettext.extract is not working"
Within `Mix.Tasks.Gettext.Extract`, `args` are rebound straight away when parsing options for extraction. Therefore`Mix.Tasks.Gettext.Merge`, invoked if the `--merge` option is given, never gets the `--no-fuzzy` argument.

[2019-08-14 22:12] josevalim commented on #211
Good catch! Can you send a PR please? :)
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-08-15 02:25] evadne commented on #211
If I instead use the invocation `mix gettext.extract --merge -- --no-fuzzy` then everything works. Perhaps that is a better solution than fixing the parsing bits?

[2019-08-15 08:08] josevalim commented on #211
I think for simplicity we should rather keep the original `args` around and pass them forward. I am at the computer now, so I can push a fix. :)

[2019-08-15 08:08] #211 closed

[2019-08-22 00:15] evadne opened #212 "Gettext.PO.dump_references/1 dumps stray leading #: line with long references"
Given:

[code]

Output:
[code]

Supposedly, the first `#:` is not needed.

[2019-08-22 22:03] #212 closed

[2019-08-22 22:04] whatyouhide commented on #212
Thanks for the report @evadne! 💟

[2019-09-01 14:27] #206 closed

[2019-09-01 14:32] whatyouhide commented on #205
@hauleth we don't really use Dialyzer. If you get time to work on something we'd appreciate it. Closing the issue in the meantime, thank you!

[2019-09-01 14:32] #205 closed

[2019-09-06 13:38] kipcole9 opened #215 "Separate PO and Gettext into separate packages"
I am working on an ICU Message formatter and localisation processor as the (maybe) last part of the [ex_cldr](https://github.com/elixir-cldr/cldr). One requirement is of course to store and manage translations and PO files are clearly the defacto globally standard.

I would like to propose splitting Gettext into as PO package that looks after storage, parsing, merging and extracting.  That way dif

[2019-09-06 15:59] tmbb commented on #215
I actually think Gettext could use a new .po parser

[2019-09-06 16:14] josevalim commented on #215
Agreed on a new parser but that is just part of the work. We can probably re-use everything else. I think Andrea considered a `nimble_parsec`-based PO parser but I am not sure of the status. Contributions are definitely welcome!

I am also completely happy to go in the direction proposed here. My suggestion is to start adding the new API directly to this repository. We will introduce new modules,

[2019-09-06 16:24] tmbb commented on #215
I believe I have a functional .po parser based on nimble_parsec already. I
have to look for it.

On Fri, 6 Sep 2019 at 17:14, José Valim <notifications@github.com> wrote:

[2019-09-06 20:29] kipcole9 commented on #215
Thanks for the feedback, I'll start work on the functional separation first (decoupling PO and Gettext). Then aim to integrate a new PO parser. And finally package separation, possible aligned with a new `elixir-gettext` organization.

As José says, the parsing part is only a bit of what `PO` does today, albeit an important part.

[2019-09-07 11:25] tmbb commented on #215
As promised, the gettext parser: https://github.com/tmbb/mezzofanti/blob/master/lib/mezzofanti/gettext/gettext_parser.ex

Tests here: https://github.com/tmbb/mezzofanti/blob/master/test/mezzofanti/gettext/gettext_parser_test.exs (the parser parses the file into a list of `Translation` structs, which can be swapped for something else that's more convenient to gettext. I believe I support all of the

[2019-09-07 11:28] josevalim commented on #215
Fantastic! @tmbb would it be an option to swap in the new parser in place of the current parser but keeping the same return API? Then we can migrate it in steps and make sure nothing is lost on the way. Then the next step would be to replace the structs from Gettext.Translation to PO.Translation and similar. Btw, what should we call the project? Is `po` good enough?

[2019-09-07 11:33] tmbb commented on #215
Sure, it's just a question of changing this function: https://github.com/tmbb/mezzofanti/blob/master/lib/mezzofanti/gettext/gettext_parser.ex#L28-L31

Expo?

[2019-09-07 11:42] tmbb commented on #215
OTOH, if the `.po` parser is meant to be reused it should return its own struct and users (such as gettext) should convert from `%PoTranslation{}` into whatever they want. What do you think?

[2019-09-07 11:46] tmbb commented on #215
@kipcole9 How would you deal with the fact that ICU makes directives such as

[code]

useless? Should my `po` parser parse these? This might make the `po` parser not very reusable...

[2019-09-07 12:03] tmbb commented on #215
Parser in its own repo: https://github.com/tmbb/ex_po

[2019-09-07 12:38] josevalim commented on #215
I like the name Expo! One word though. :D

Regarding the structs, we can already change the structs in Gettext. I just
think doing the changes inside gettext first is the easiest and simplest
way to avoid breaking changes.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-09-07 17:05] whatyouhide commented on #215
FWIW, I have a working nimble-based parser too, [here](https://github.com/elixir-lang/gettext/blob/d9faa55e67657f923f7f57dbf209ce36ec50f947/lib/gettext/nimble_parser.ex).

[code]

@tmbb I'm not familiar with ICU. What is useless about this?

[2019-09-07 17:15] tmbb commented on #215
In ICU messages, you encode the singular and the plural in te same string, as well as gammatical gender and other things. For example look at the example here: http://userguide.icu-project.org/formatparse/messages

[2019-09-07 23:02] tmbb commented on #215
I've created some translation structs inside my `ExPo` project. I think that is gettext is going to be based on `ExPo`, it should use `ExPo`'s structs, which AFAIK are backward compatible. There are still some things that need to be changed in `ExPo` (namely, I need to support more escape chars in strings and other such minor things), but it's in a pretty good shape already.

[2019-09-07 23:39] josevalim commented on #215
Sounds good to me! Can you please send a PR for us to see how it would look like? Btw, what do you think about naming it `Expo` (app: `expo`)? Calling it `ExPo` makes it sound like "I just prepended things with Ex" but calling it `Expo` makes it sound like a pun on "exposition", which in my humble opinion is much better. :P

[2019-09-08 06:34] kipcole9 commented on #215
My thinking has been to separate the storage/serialization layer from the translation data layer from the message formatting and translation layer.  Based on my reading of this thread that would be seem to be acceptable?  It would look like:

### Translation data layer

The translation data layer is the structure of translations in an Elixir data structure. In the current `Gettext` that would be `

[2019-09-08 08:17] josevalim commented on #215
I think this is a good plan but I would like to see it done in steps. I
would prefer to see we move to Expo before we start changing storage and so
on. Otherwise we will be facing a thousand lines of code PR which would
slow everything down. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-09-08 10:31] kipcole9 commented on #215
Make sense José. Should the Expo conversation move to a separate issue to keep that focus? This would help discussion of potential resolutions to #210 and #89 as well.

[2019-09-08 10:35] josevalim commented on #215
Sounds great!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-09-08 11:55] tmbb commented on #215
Some topics could be moved to the Expo repo.

On Sun, 8 Sep 2019 at 11:31, Kip Cole <notifications@github.com> wrote:

[2019-09-08 18:28] josevalim commented on #215
I have created an elixir-gettext organization with gettext in there. You have been invited to it. I recommend changing `Gettext` to use `Expo` and then moving `Expo` to the organization too. Wdyt?

[2019-09-11 10:15] josevalim commented on #215
Btw, it seems GitHub did not send emails for the invitation but you can accept it here: https://github.com/orgs/elixir-gettext

[2019-09-17 14:22] focused commented on #115
I get the same warnings (18 warnings) with elixirLS extension in vscode (auto dializer) just after adding second language (RU) with multiple pluralization forms in my phoenix application:
[code]

Fast workaround would be:
[code]

Notice that it won't happen if I have only one default translation (EN)

[2019-09-26 02:56] thojanssens commented on #62
Can't we get a `Gettext.known_locales/0` without the backend?

In a library I'm coding, I want to retrieve all the _known locales_ of an application, that I use as default locales list for some multilingual things (e.g. library renders a list of text inputs, one per language, based on given locales list. If no locales list is given => default to `known_locales`).

If the user has to specify the ba

[2019-09-26 03:02] josevalim commented on #62
Having the functions without a backend means singleton/global state. And it means you cannot have two applications defining their own Gettext backend, because one of them would have to him.

A backend is equivalent to a Ecto.Repo or a Phoenix.Endpoint. If we only allowed one of them, it means your application would only every be able to talk to one database. Or listen to only one single port. Havi

[2019-10-18 13:17] dgorshkov commented on #114
I would like to resurface this - the lack of this feature recently effed us with an internal project at Taxfix. We assumed that this is a full port of the original gettext, and were surprised to say the least.

[2019-10-18 13:28] josevalim commented on #114
Given the requests, we will gladly accept a PR that implements this. Thanks!

[2019-10-25 05:27] Wijnand opened #222 "gettext_comment disappearing"
When using gettext_comment it only appears the first time you extract a msg.
So for example:

[code]
If you would run gettext.extract the comment does appear in the pot file.
However, if you run extract again the comment is gone.
Only if the string within the gettext call gets updated, and is thus a new msg again, the comment is back in the pot file.

[2019-10-25 05:56] Wijnand commented on #114
This would definitely help us as well. Due to external dependencies we can not use more than one file per language, but ensuring we can specify context for the translators we have to deal with using the standard solution provided by gettext sounds like the way to go.

Do you have any guesstimate about the complexity of adding this?

[2019-10-25 11:34] whatyouhide commented on #222
Hey @Wijnand, could you provide us with a minimal case that reproduces this? Thank you!

[2019-10-25 11:38] whatyouhide commented on #114
@Wijnand we already parse the `msgctxt` but I'm not sure we store it. If we do, it's a matter of creating the new macros and properly extracting the context into the extracted translations. Shouldn't be a huge chunk of work.

[2019-10-28 09:48] Wijnand commented on #114
Ok, thank you. I will take a quick look to see if I can do it.
Now it basically sounds like the same thing needs to be done as for gettext_comment

[2019-10-28 10:07] Wijnand commented on #222
Hey @whatyouhide I think it can not get any simpler than this:  https://github.com/Wijnand/gettext_comment_missing_bug

At first I wanted to see if I could write a failing test for it but I did not really know where to start.

[2019-10-29 01:02] #222 closed

[2019-11-04 20:47] whatyouhide commented on #114
@Wijnand I don't think it would be the same as `gettext_comment` because IIRC GNU Gettext has a different set of functions that have the context as an additional argument. We might have to look into that. I'd appreciate a quick research into this if you get the chance :)

[2019-11-14 16:58] Zurga opened #229 "[Feature] Formatting of multiline strings in the PO and POT files"
At the moment, the multiline strings that represent msgids are concatenated to a single line with newlines inside them when they are dumped to PO and POT files. I can create a pull request that fixes this, with the option to make it a config setting (disabled by default). It would greatly improve readability of the msgids in the PO and POT files. I must say that I do not know how any PO editors tr

[2019-11-14 17:02] Zurga commented on #114
This pull request should implement the needed functionality: #228
@Wijnand thank you for a pleasant day at Tell Charlie.

[2019-11-14 18:53] whatyouhide commented on #229
I can't recall exactly, but isn't

[code]

equivalent to

[code]

instead?

[2019-11-14 18:57] Zurga commented on #229
Yeah you are right. What it should be is:
[code]

[2019-11-14 19:06] whatyouhide commented on #229
@Zurga I don't know if we should split a string like that automatically. Do we do that anywhere already as far as you know? I can't recall 😄

[2019-11-14 19:08] josevalim commented on #229
Given that we need to add \n anyway, I am a bit indifferent on the
approaches. Any is fine with me.
--

*José Valim*
www.plataformatec.com.br
Founder and Director of R&D

[2019-11-15 03:55] kenny-evitt commented on #205
I just created a pull request that resolves this warning, and several others:

 - [Fix spec and update doc for one function by kenny-evitt · Pull Request #230 · elixir-gettext/gettext](https://github.com/elixir-gettext/gettext/pull/230)

@whatyouhide @josevalim Are you interested in using Dialyzer for this project?

[2019-11-15 08:05] josevalim commented on #205
We are not, as we usually don't have Dialyzer in our workflows. Thanks for asking though!

[2019-11-15 11:03] Zurga commented on #229
@whatyouhide No, it does not happen anywhere automatically at the moment.

I don't think that formatting into multiple strings in the PO file would cause unexpected behavior (on the Gettext side) as the key for a `msgid` is generated by `IO.iodata_to_binary/1` in `lib/gettext/po/translations.ex` on line 109.

A `msgid` that consists of multiple strings, either delimited by a space or by a newline

[2019-11-15 11:06] whatyouhide commented on #229
Honestly I don't really have a preference here either, I'd say if this is a tiny amount of code to make it happen, let's go for it, otherwise I'm not sure it's worth the additional complexity.

[2019-11-29 11:28] whatyouhide commented on #114
Closed by #228.

[2019-11-29 11:28] #114 closed

[2019-11-29 11:30] whatyouhide commented on #89
This is not worth the effort for now. If we have complaints about the syntax error, we can revisit this, but to make the errors better there's quite a lot of work to do so calling it a day for now!

[2019-11-29 11:30] #89 closed

[2019-12-11 07:27] Wijnand commented on #229
The reason Zurga asked was because I would love this feature and we wanted to sponsor development. However, at the moment we do not have a use-case for it anymore (Phraseapp will butcher the nicely formatted gettext files after syncing back). I am fine with closing this issue

[2019-12-11 08:32] josevalim commented on #229
Thanks for the updates. We can always reopen it if someone needs this feature!

[2019-12-11 08:32] #229 closed

[2020-01-10 08:07] Wijnand opened #232 "Time for a new release?"
Would it be possible to get a new released version in hex ?
The new msgctx feature and the bugfixes are really useful to us, however using the package as a github dependency does not play nice with dependencies.

[2020-01-10 08:24] josevalim commented on #232
Done!

[2020-01-10 08:24] #232 closed

[2020-01-10 12:18] Wijnand commented on #232
Wow, that was fast! Thank you Jose

[2020-01-11 00:42] alessandrousseglioviretta opened #233 "Call to dpgettext breaks contract"
Dialyxir complains that the call to `dpgettext`in the `dgettext` function in `lib/gettext.ex`

[code]

breaks the following contract:

`@spec dpgettext(module, binary, binary, binary, bindings) :: binary`

Being  `nil`not `binary`, it seems that the contract is broken indeed.

[2020-01-11 08:02] whatyouhide commented on #233
@alessandrousseglioviretta could you link to the code that breaks the contract? I'll be on mobile only for a couple days 😁, so it would help!

[2020-01-11 09:16] josevalim commented on #233
A pull request would be even better! Generally speaking we don’t use Dialyzer, so unless someone provides a fix, it is unlikely we will tackle it ourselves. :)

[2020-01-11 14:59] alessandrousseglioviretta commented on #233
I fixed the issue with the call to `dpgettext`, but there are still a few issues, like  `Extractor.create_translation_struct` that returns a _struct that differs from the success typing arguments_, which do not seem trivial to fix. I think it's worthwhile to fix them, but I'll need some support.

[2020-01-11 15:11] whatyouhide commented on #233
@alessandrousseglioviretta could you provide more insight on your fix and on the issues you mentioned?

[2020-01-11 15:53] alessandrousseglioviretta commented on #233
changed the spec for `dpgettext` from:

`@spec dpgettext(module, binary, binary, binary, bindings) :: binary`

to:

`@spec dpgettext(module, binary, binary | nil, binary, bindings) :: binary`

and , in type definition for `Gettext.PO.Translation` and `Gettext.PO.PluralTranslation`, turned

`po_source_line: pos_integer`

to

`po_source_line: pos_integer | nil`

[2020-01-11 16:25] alessandrousseglioviretta opened #234 "Issue in Extractr.extract (Dialyzer: func has no local return)"
Here is Dialyzer's complaint about the call to `add_translation` in `Extractor.extract`. Fixing it does not seem to be trivial.

[code]

[2020-01-11 21:44] josevalim commented on #233
Can you please send a PR with those fixes? Thank you!

[2020-01-11 22:20] alessandrousseglioviretta commented on #233
I managed to make Dialyzer happy (including issue #234) by modifying the default values for `Gettext.PO.Translation` and `Gettext.PO.PluralTranslation`. It's all fine and dandy when I use my fork in my app, but I could not ascertain whether the default values I chose make sense. I made also a few minor enhancements (always under the guidance of Dialyzer) and I removed a incorrect spec - in a very

[2020-01-11 22:41] alessandrousseglioviretta commented on #234
Linked to #233, redundant, closing.

[2020-01-11 22:41] #234 closed

[2020-01-12 21:02] deepankar-j opened #236 "Release 0.17.2 has incorrect semantic version, as it causes breakage for Timex v3.6.1"
[PR 228](https://github.com/elixir-gettext/gettext/pull/228) causes a breakage for Timex v3.6.1.    That's not necessarily the fault of that PR, but rather the fact that the latest gettext release version is 0.17.2 (a patch version update), when in fact it has a breaking change.

Timex v3.6.1. works with gettext 0.17.0 (which makes sense given PR 228).

If this is truly meant to be a patch version

[2020-01-13 08:26] josevalim commented on #236
Hi @deepankar-j! v0.17.2 did not break semver because `lgettext` was never a public API. So in this case, Timex was using private APIs from gettext and we were in the right of removing. We will push a fix but please submit a patch to Timex so it uses the proper gettext APIs, otherwise it will break in future releases once again.

Thanks for the report!

[2020-01-13 08:31] josevalim commented on #236
v0.17.3 is out!

[2020-01-13 08:31] #236 closed

[2020-01-13 10:28] alessandrousseglioviretta commented on #233
solved by https://github.com/elixir-gettext/gettext/pull/235

[2020-01-13 10:28] #233 closed

[2020-01-13 13:05] deepankar-j commented on #236
Thank you, @josevalim!

[2020-01-14 09:51] nmbrone opened #237 "dgettext_noop/2 is broken in v0.17.3?"
First of all thanks for all your work.

Seems like the returned value of `dgettext_noop/2` was changed in the last version but the change was not reflected in the documentation. The documentation says: "The return value is the given string, so that this macro can be used seamlessly in place of the string to extract" which is not true anymore since the returned value is a tuple.

The change comes f

[2020-01-14 10:03] whatyouhide commented on #237
Good catch! It's true, the return value of the `*_noop` macros was accidentally broken. I think it should be enough to switch it back to just return the given string. Would you be willing to send a PR for this? Otherwise I can tackle it in the afternoon or in the next couple days, depending on work 😄

[2020-01-14 10:07] josevalim commented on #237
v0.17.4 released with a fix :D

[2020-01-14 10:07] #237 closed

[2020-01-14 10:11] whatyouhide commented on #237
Oh, sweet! Thanks so much @josevalim 💟

[2020-01-17 18:40] epilgrim opened #238 "Compilation time with many locales"
In my application, gettext compile takes around 10 minutes in developer's machines (docker inside mac, so i don't expect it to fly. On CI and production it is several minutes, but not as much as 10)
I have around 20 locales with around 6000 strings each, and I will keep adding more, so I need a way to decrease developer's time spent on recompilations.
I'm not as concerned about paying this price o

[2020-01-17 18:56] wojtekmach commented on #238
Have you tried the [`:one_module_per_locale`](https://hexdocs.pm/gettext/Gettext.html#module-backend-configuration) option? That should help with large projects and many locales.

[2020-01-17 18:57] josevalim commented on #238
Definitely.

Btw, have you tried the `one_module_per_locale` option? I would be curious about the speed ups.

Also, if you give me large .po files, I can also try to bring the time down a bit. I assume there is a good amount of low hanging fruits in the process.

[2020-01-17 19:07] epilgrim commented on #238
yeah, I'm already using the one_module_per_locale option. without it it wouldn't even compile in CI because of RAM.
@josevalim I can send you some files privately if you tell me where

[2020-01-17 19:08] josevalim commented on #238
@epilgrim you can find my e-mail in my github profile. :)

[2020-01-18 17:27] josevalim commented on #238
Closing in favor of the PR!

[2020-01-18 17:27] #238 closed

[2020-02-09 22:54] whatyouhide opened #241 "Move CI to GitHub actions"

[2020-02-10 12:23] #241 closed

[2020-02-13 16:21] woolfred opened #243 "Provide path information for SyntaxError"
Hello hello,

when having merge conflicts I usually tend to just accept all and then do a `mix gettext.extract --merge` afterwards.

Sometimes it happens that a part is lost (msgid or msgstr) and I get a `SyntaxError`. Currently only the file name is provided like
`(Gettext.PO.SyntaxError) default.po:16: syntax error before:`

When having multiple languages you still don't know which of your .po f

[2020-02-14 10:12] whatyouhide commented on #243
@woolfred thanks for the report! It's interesting because as far as I know we always use the relative path of the file and not just the file name. I'm pretty busy over here, so it would really help if you could provide a minimal reproducing case that reproduces this issue and I'll try to get my hands on fixing it :)

[2020-02-14 10:23] #243 closed

[2020-02-14 10:24] whatyouhide commented on #243
Woof, was pretty simple 😄 Thanks @josevalim! 💟

[2020-02-14 10:49] woolfred commented on #243
Uff, yes. Could have also tried just that 🙈 Thank you both!

[2020-02-24 08:41] LostKobrakai opened #245 "Runtime mode like for plug"
Changing translations does often need to recompile many many modules, which in dev can become quite tedious. I'm wondering if there's the possibility to introduce a runtime mode akin to the one of plug, which can be enabled in development.

[2020-02-24 08:47] whatyouhide commented on #245
Can you expand on your use case? The thing that is slow is running `mix gettext.extract`, right? If so, why run it continuously? In any case thanks for the issue @LostKobrakai! 💟

[2020-02-24 08:49] josevalim commented on #245
The mechanisms are very distinct. Plug does not actually reduce the amount of code being compiled, it just moves the code to runtime to avoid compile time dependencies. But the amount of work done during compilation is roughly the same.

This won't work for gettext. For gettext, your best option is to reduce the amount of locales being compiled for dev/test. Someone recently added such option, so

[2020-02-24 08:49] #245 closed

[2020-02-24 08:53] LostKobrakai commented on #245
I've just two locales (DE/EN), but changing my default.po currently recompiles around 300 modules if updated. What I was wondering if there could be a mode, where the gettext backend calls are no longer macros, but function calls to a single module, which would recompile when translations are updated.

[2020-02-24 09:04] josevalim commented on #245
Ah, the issue is not the compilation of locales but rather the callers. Now that Elixir v1.10 ships with compilation tracers, we could actually make them regular functions and use the tracers to find all translations to extract. But that also means you can no longer `import Gettext` and instead you have to use the qualified name, which may not be worth the benefits here.

[2020-02-24 09:08] LostKobrakai commented on #245
I was thinking about a switch for what `use Gettext` compiles into the userland module to change macros to functions. Not 100% sure if that would help though.

[2020-02-24 09:26] josevalim commented on #245
Doesn't help if you still do `import MyApp.Gettext` whenever you need to use it.

[2020-03-11 16:48] rrrcompagnoni commented on #188
@abitdodgy I've had this issue recently. The dynamic translations were being removed from my pot files. You can rely on pattern matching to achieve the desired behaviour.

Instead of:
[code]
Try:
[code]

[2020-04-23 14:39] Kaquadu opened #246 "Blocking some locales"
Hello,
It's not really an error or issue. I just totally don't know what might be wrong in my solution. I am currently implementing a system, which needs blocking some locales on certain environments. They way I implemented it:
1) Set environmental variable, which defines allowed locales.
2) In the plug read the current locale. If the locale is not in allowed locales - put default locale and redir

[2020-04-23 14:43] josevalim commented on #246
Hi @Kaquadu !  Please use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/help/feedback, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2020-04-23 14:43] #246 closed

[2020-05-06 10:20] vermaxik opened #247 "Compile interpolation in gettext_noop"
Hi,

I have `MyProject.FormValidator` module where I check and collect errors for a form.
And I implement the `Gettext` for errors  with `dgettext_noop` e.g.:
[code]

And use this validator module in live_view with function method:

[code]

Works perfect, but I have few validation errors with interpolation with module attribute:
[code]

But unfortunately it not possible to use like this.

Maybe it

[2020-05-06 12:05] josevalim commented on #247
I beleive we could make that work, yes. Can you try sending a pull request so we could see how it would look like?

[2020-05-07 12:02] vermaxik commented on #247
Yeah, sure,  I'll try 👍

[2020-05-08 09:21] egze opened #248 "Sort output"
In GNU GetText there are options to sort output: https://www.gnu.org/software/gettext/manual/gettext.html#Output-details-5

Specifically `--sort-output` and `--sort-by-file`.

Right now we have a problem that `mix gettext.extract -- merge` outputs in the order it sees the files on disk (correct me if I'm wrong). And our translation service sorts, there is no option to leave the order as is. This c

[2020-05-08 09:31] josevalim commented on #248
A PR that makes it sort would be welcome. We may sort today by file and line and you probably want to sort by id. So I would try to find the current sorting code.

[2020-05-08 09:33] egze commented on #248
Yeah, sorting by id is what I need.

These are the options of the service:
[code]

[2020-05-08 12:11] whatyouhide commented on #248
@egze wasn't this solved by https://github.com/elixir-gettext/gettext/pull/244?

[2020-05-08 12:14] josevalim commented on #248
Good call @whatyouhide !

[2020-05-08 12:14] #248 closed

[2020-05-12 20:25] vermaxik commented on #247
Hi again,

I spent few evenings on writing possible implementation on this issue, but to be honest it too many macros to me 😄 To implement this feature request, I need more knowledge about macros and deep understanding of this hex package.

I don't want to block anyone to contribute and share test what I tried to achieve:

[code]

To have a possibility call this dynamic context:
[code]

I stuck wi

[2020-05-15 15:41] tonnenpinguin opened #249 "known locales list empty after upgrading to 0.18"
Hi guys,

After updating from 0.17.4 to 0.18 I noticed that `Gettext.known_locales/1` returns an empty list.

Downgrading to 0.17.4 brings everything back to normal and I didn't notice anything in the changelog or diff that would indicate a required change in the config. Any pointers as to what may cause this issue?

The new `allowed_locales` option is not set in my config.

The issue occurs in ou

[2020-05-15 16:06] josevalim commented on #249
Unfortunately I cannot reproduce it locally using regular Gettext, so please try to provide an application that reproduces the error or a minimal test case. Thanks!

[2020-05-15 16:14] tonnenpinguin commented on #249
Thanks for the quick response!

I did some digging and actually figured out the problem!

Presumably because I don't have any actual strings `mix gettext.extract` doesn't actually regenerate the files (which makes sense I guess) and so it used the default files I had in my `priv/gettext` directory.

However, these files where in `priv/gettext/en/default.po` and not in `priv/gettext/en/LC_MESSAGES/

[2020-05-15 16:17] #249 closed

[2020-05-28 08:42] smaximov opened #250 "Difficult to access mix tasks docs at hexdoc.pm"
At [hexdocs.pm](https://hexdocs.pm/gettext), click on the "MIX TASKS" section in the sidebar:

![Screenshot from 2020-05-28 11-24-32](https://user-images.githubusercontent.com/1370047/83118028-7d120580-a0d6-11ea-9e4c-b787faf863a3.png)

## Expected behaviour

The list of all mix tasks for gettext is shown.

## Actual behaviour

Nothing happens (aside from modifying the page URL fragment to `full-li

[2020-05-28 09:05] josevalim commented on #250
@smaximov can you please open up this issue on the ExDoc repo? github.com/elixir-lang/ex_doc

Thank you.

[2020-05-28 09:06] #250 closed

[2020-06-05 13:30] halostatue opened #252 "Reusing Gettext.Extractor Merge Infrastructure"
I had to write a custom gettext extractor last night for parsing our JavaScript files (not a single one of the existing mechanisms for parsing JavaScript caught all of my translations; I would consistently be left with about 90% of the strings). Because I’ve been using `msgcat`, `msgmerge`, and `msguniq`, I have all of our JavaScript (Vue) translations merged with our Elixir translations.

In the

[2020-06-05 13:32] halostatue commented on #210
It would also be good to consider the `changed` marker if it can be detected:

[code]

[2020-06-05 14:00] josevalim commented on #252
I think we can bundle this with #215. It would make total sense to have a library to modify PO files, so we can expose those more. At the moment there is no proper place to put this in Gettext, as it concerns itself mostly with other APIs.

[2020-06-05 14:03] halostatue commented on #252
If I weren't completely rekt by having to write a gettext extractor last night and on a tight deadline for some functionality, I would probably volunteer to move some of this code around to make it more officially available for when the split between `PO` and `Gettext` happens. Maybe in a few weeks.

[2020-06-05 14:08] josevalim commented on #252
That would be very appreciated! I will close this for now and we can continue it there. :)

[2020-06-05 14:08] #252 closed

[2020-06-05 21:35] halostatue opened #253 "Configurable default domain?"
I’ve been working with a couple of different JS implementations of gettext (before rolling a fork of one of them to work better with Vue), and it appears that _most_ JS implementations use `messages` as their default domain—and have an easy way to change the active default domain.

As best as I can tell, this would be set by calling `textdomain(domainname)` in the C version of gettext. What I thin

[2020-06-05 21:39] josevalim commented on #253
Sounds good to me. Let’s call it default_domain though!

[2020-06-07 02:27] halostatue commented on #253
Should this be global or per-backend? I’m leaning toward per-backend, but it won’t be hard to make it work like `:default_locale`.

[2020-06-07 02:40] halostatue commented on #253
Also, I’m looking at this and assuming that `Gettext.gettext/3` would always use "default", or should it use `dgettext(backend, binding.__gettext__(:default_domain), magic, bindings)`?

[2020-06-07 07:21] #253 closed

[2020-06-08 16:17] halostatue opened #255 "Apparent mishandling of reference comments on merge"
What I’m reporting here is not unique to Elixir’s gettext implementation, as I have seen it with some version of `msguniq` from the official GNU tooling, and it may not be a bug, but it feels like one and it results in an unnecessarily large delta.

We ran `mix gettext.merge priv/gettext` and got a diff that looks like this:

[code]

There are _dozens_ of cases like this. The problem is that it ha

[2020-06-08 16:18] halostatue commented on #255
Related, but not _quite_ the same, so I can file this separately if you wish, is that it appears that `#. comment` comments are stripped by the PO handling, but `# comment` comments are not. Ideally, both should be kept.

[2020-06-08 17:55] josevalim commented on #255
We should definitely have one `#:` per `file:line`. A PR is welcome.

We should probably check but I am almost sure one of those are not meant to be kept. We have different kinds of comments (extracted comments, translator comments, template comments) and they have different behaviours.

[2020-06-15 02:37] StormBytePP opened #256 "Translation failure when specifying another priv folder"
When using Gettext v0.18.0 and specifying a folder to store the pot and po files via _priv_ attribute, I found that when selected folder is different than priv/* then that domain will fail any translation.

The curious thing is that ```mix gettext.extract``` works as expected, outputing correct data into correct folder.

I uploaded a [minimal example](https://github.com/StormBytePP/elixir-gettext-

[2020-06-15 06:29] josevalim commented on #256
This is an Elixir/OTP limitation. Only ebin and priv directories are copied to the build directory, which is precisely why the option is named priv.

[2020-06-15 06:29] #256 closed

[2020-06-20 14:09] nsprod opened #257 "[Question] Reload PO files at runtime"
Hello all 👋 ,

I'm new to Elixir so first I want apologize in advance if my understanding of the problem I'm facing is not correct.

I'm working on an application that stores translations in a software localization management platform (Transifex, PhraseApp,..). We use their API to download and store the different PO files into the Phoenix `priv` directory (at runtime). Then in our different Phoeni

[2020-06-20 14:59] josevalim commented on #257
There is not built-in mechanism for doing this in production. We would need to provide some extra APIs, that allow you to recompile an endpoint, but they do not exist yet.

[2020-06-20 14:59] josevalim commented on #257
And welcome!! 👋

[2020-06-27 19:19] Shakarim opened #258 "Trouble with extracting"
Hi! I got a some trouble while trying to generate *.po files. I have an umbrella project with lot of apps inside, but all translates contains in one app only (in "master"). So, when I call the "gettext.extract --merge" I've got one of two scenarions:
1. Successfully scenario. My console contain following:
[code]

2. Failure scenario. My console contains:
[code]

As you see:
1. Gettext initiate com

[2020-06-27 19:35] josevalim commented on #258
Please use the [ElixirForum](http://www.elixirforum.com) or StackOverflow for questions/help/feedback, where a wider community will be able to help you. We reserve the issues tracker for issues only. Thank you!

[2020-06-27 19:35] #258 closed

[2020-06-27 20:19] Shakarim commented on #258
You're welcome, but I've tried, and...it looks like bug. Or gettext actually have to ignore compilation order?

[2020-06-27 20:27] josevalim commented on #258
Oh, the way it was phrased sound like a request for help with debugging. See #178. This seems a duplicate of that.

[2020-06-27 20:29] Shakarim commented on #258
Thank you very much. I've tried to use this solution. And it doesn't work :(

[2020-07-04 19:56] PatrickSachs opened #259 "[Question] Get all keys & values for a single locale"
Is there a way to get all data for a single locale?

E.g.
[code]
(I understand that the actual data structure would be significantly more complex due to pluralization rules, etc...)

A feature like this would be really useful for me, since I'd ideally like to use a single PO file for both strings used in the frontend (Vue JS) as well in backend (Elixir), to not cause confusion among translators an

[2020-07-04 20:49] josevalim commented on #259
We don’t include it in the module and we don’t plan to because this data can be really large. We do have PO parser, it is private, but you can use it as long as you have it in mind. We do plan to make it public, which is what you would use. See #215.

[2020-07-04 20:49] #259 closed

[2020-07-06 22:06] drews256 opened #260 "[Question] Using gettext through a dependency in a phx app"
I've been exploring Kaffy (https://github.com/aesmail/kaffy) for use as an admin dashboard for applications we work on in house for an assortment of clients.

I really like it and the style but it's a no go if we can't brand it for our clients. One thing that is listed in their issues is to allow the use of i18n by using `gettext`. I started diving into adding `gettext` to Kaffy and realized that

[2020-07-06 22:14] josevalim commented on #260
My suggestion is to make the Gettext path for Kaffy configurable. This way you can tell Kaffy to look at your current application and force it to recompile using pó and pot files from your app. This way you don’t need to mess with the extractor and anything else.

[2020-07-06 22:14] #260 closed

[2020-07-06 22:19] drews256 commented on #260
Sure, is there a trick to get gettext to pick up the files from Kaffy??

With the above configuration running:

`mix gettext.extract`

results in basically nothing happening. On a clean phx install it pulls the errors as expected and nothing else.

[2020-07-06 22:30] drews256 commented on #260
The configuration for Kaffy is set up like:

[code]

[2020-07-09 06:54] rothsberg opened #261 "[Question] Default bindings to Gettext.dpgettext/5"
Great work with the support for "particular" translations.

Is there a reason why `Gettext.dpgettext/5` doesn't support default (empty) bindings?

[2020-07-22 13:43] #261 closed

[2020-07-22 13:43] whatyouhide commented on #261
No reason, I think it was just left out by accident. Fixed in https://github.com/elixir-gettext/gettext/commit/b7d8fb58f93cdd3aa2418ed1f350d1b63deeb123 :)

[2020-09-12 01:23] sanjibukai opened #263 "Support for live translation in Live View"
Hello,

Currently, if we have a `gettext "Hello World"` in a LiveView view, it's not sufficient to have the translated text updated in live since there is nothing changing in the context of the LiveView.

I ended up using something like that:
[code]
Now I wanted to make that mechanism with the lesser code possible..
But if we want to benefit from the extractor, we can't define a custom function li

[2020-09-12 07:06] josevalim commented on #263
Hi @sanjibukai! I think in this case, since change the locale is something rather rare, could you invoke a live_redirect, forcing the current page to be fully reloaded?

Those events should be really rare, so I really wouldn't try to optimize for them.

[2020-09-12 14:56] sanjibukai commented on #263
Hey @josevalim!

Fair enough!
As I stated I went this path more for learning purpose rather than ending up in an adopted implementation.
I'm closing this issue..
Thanks for taking the time to answer!

But because it's you and I couldn't find a better person to ask..
Is it possible to use Elixir Macro like how the #define preprocessor works in C.
I mean pure text interpolation and replacement:
[cod

[2020-09-12 14:56] #263 closed

[2020-09-14 18:51] mikl opened #264 "Unhelpful helptext for UnknownLocaleError in mix gettext.merge"
So I was trying to generate .po files for Swiss German by running `mix gettext.merge priv/gettext --locale=gsw_CH`. This errors, as the pluraliser does not know of `gsw`.

However, the error is misleading, it says:

[code]

If you read the text, and do as suggested, by creating a custom pluralizer, the problem persists. As already discussed in #179, the custom pluralizer does not work when running

[2020-09-14 19:41] josevalim commented on #264
Can you please send a PR that improves the error message? It will at least help avoid others running into it. Thank you!

[2020-09-24 16:54] josevalim commented on #257
Closing this as this is a bigger change. If someone wants to work on it, please let us know!

[2020-09-24 16:54] #257 closed

[2020-09-25 09:13] josevalim commented on #247
Hi @vermaxik! Sorry for the delay on this.

I misunderstood your original request: for me you wanted to pass the bindings to `gettext_noop`, which would be doable, but we can't make `gettext_noop` dynamic because the whole point of `_noop` is to see the string at compilation time, so we can generate `.po` files. Therefore it makes sense you were running into that error, as that is a requirement.

[2020-09-25 09:13] #247 closed

[2020-09-25 09:14] #264 closed

[2020-10-23 13:15] kpanic opened #266 "Bindings interpolation with string keys"
Hello everyone, I was wondering if it would be possible to have bindings in this format:

[code]

If not, is there a technical reason?

Thanks for the library!

[2020-10-23 13:28] josevalim commented on #266
It should be possible but can you tell us a bit more about your use case?

[2020-10-23 13:41] kpanic commented on #266
In my use case we have dynamic translations (that can be updated in time)
AFAIK in the current `interpolate/2` function only supports map with atom keys and I have to convert strings to atoms risking that the atom table will grow and crash the BEAM

[2020-10-23 13:43] josevalim commented on #266
@kpanic the string is dynamic but the map you pass to it is known upfront, right?

[2020-10-23 13:51] kpanic commented on #266
No, in our use case we can't. The map can be dynamic (from user input/spefication)

[2020-10-28 15:20] josevalim commented on #266
Closing in favor of PR discussion.

[2020-10-28 15:20] #266 closed

[2020-10-28 20:53] epilgrim opened #268 "Very high memory usage with elixir 1.11"
I have a project with 5145 msgids translated into 28 locales.
Compiling a new project (mix new) with elixir 1.10.1 and just those translations takes around 3GB of memory, and around 2 minutes to compile.

Trying to compile the same project in elixir 1.11.1, I haven't been able to compile it. I've seen the memory reaching 30GB (I have 16GB physical memory... and then going to swap) and after 15 min

[2020-10-28 21:14] josevalim commented on #268
To confirm, that’s with the same OTP version, Right? Are you using any flags like one_module_per_locale that generally speed up compilation? Have you tried them out?

[2020-10-28 21:18] epilgrim commented on #268
using one module per locale, yes.
good point with the otp version. one was otp 22 and the other 23.
I'll test just changing elixir and report back.
if the problem persists I'll set up a reproduction repo

[2020-10-28 21:23] josevalim commented on #268
Yes, please try both only changing OTP versions and only changing Elixir versions. Also try 23.1 as it has some improvements.

[2020-10-29 07:53] epilgrim commented on #268
It indeed seems to be erlang 23.1.1.

The compilation finishes with
erlang 22.2.7 elixir 1.10.1
and
erlang 22.2.7 elixir 1.11.1

But I couldn't finish because of the amount of RAM with
erlang 23.1.1 elixir 1.10.1
and
erlang 23.1.1 elixir 1.11.1

I've set up a reproduction repo with some dummy translations here:
https://github.com/epilgrim/mix-playground/tree/issue/gettext-memory-usage-with-erlang-

[2020-10-29 17:35] josevalim commented on #268
I could verify that each lcoale went from from 23s to 32s on average when updating OTP.

I proposed some fixes here: https://github.com/erlang/otp/pull/2837 and https://github.com/erlang/otp/pull/2834

The first in particular decreases memory usage considerably in at least half on its peak but about 4 times generally. Furthermore, those patches plus JIT makes everything faster than 22.1 when runni

[2020-10-29 18:13] #268 closed

[2020-10-29 18:18] josevalim commented on #268
I pushed a feature that splits the modules per locale and per domain. Your example app now finishes in 2min56s in my machine (I am using 24+jit) and in 2min26s with my patches above.

In any case, I think you should hold off upgrading to 23 for now. It may be worth using the new feature on gettext master, because I think it will speed your OTP 22 compilation.

[2020-10-30 07:40] epilgrim commented on #268
This is AWESOME Jose!! thank you very much.

The way of splitting the compile per domain was my next idea if there was nothing to do with the memory usage! thanks for implementing it :)

If you don't mind me asking, do you have any pointer to blog post or book with content about your thought process and tools to identify the root cause of the memory problems? Would love to understand that a bit mo

[2020-10-30 08:18] josevalim commented on #268
So compiler problems are usually nice to debug thanks to the Erlang/OTP tooling. I usually start with this on Elixir v1.11:

[code]

That will point me to which file is slow (or if it is the group pass). The next step is to break down why it is slow. You have two options here, one is to execute the Elixir file with the `time` option:

[code]

You will typically see two or three reports like this:

[2020-10-30 09:33] epilgrim commented on #268
Very interesting write up! Thank you Jose!!

[2021-01-22 14:33] maennchen commented on #178
@josevalim I'm having the same issue as well. Was there anything done in the meantime that should solve the issue?

[2021-01-22 14:40] josevalim commented on #178
@amatalai's workaround seems to be the way to go for now.

[2021-01-22 14:42] maennchen commented on #178
@josevalim Could the workaround be incorporated into the extract mix task directly?

(Via Arg / Config / somehow detect the umbrella)

[2021-01-22 14:43] maennchen commented on #178
(As always I'd be happy to provide a PR :smiley: if that is welcome)

[2021-01-22 14:46] josevalim commented on #178
I think the work around can be more efficient but I didn't have time to look at it yet, unfortunately.

[2021-02-04 12:22] johannesE commented on #247
After struggling with a predefined list of strings to be marked for translation at compile time for quite a while, Kip helped me on stackoverflow: https://stackoverflow.com/questions/65869082/marking-list-of-strings-for-translation-with-elixir-gettext-at-compile-time

Do you think the macro could be helpful for others too?
[code]

Honestly I still think there should have been an easier solution to

[2021-03-30 05:22] c4710n opened #275 "`priv/gettext/errors.pot` is only extracted once."
## environments
+ OS: macOS Big Sur
+ Elixir: `1.11.3`
+ Erlang/OTP: `23`
+ `phx.new`: `1.5.8`

## reproduce

Create a demo app:
[code]

Extract POT files:
[code]

As you see, `priv/gettext/errors.pot` is extracted. It works as expected.

---

Next, I removed `priv/gettext` and rerun `mix gettext.extract`:
[code]
Only, `default.pot` is extracted, `errors.pot` is missing here.

---
I guessed that i